.blog-search {
  position: relative;
  &__wrapper {
    @extend %display-jc-sb;
    margin: 19px 0 0;
  }

  &__search-container {
    width: 100%;
    margin: 0 20px 0 0;
    position: relative;
  }

   &__filter-icon {
      display: none;
    }

    .select-popup {
      display: none;
    }

    .sort-popup {
      display: none;
    }

  &__search-input {
    padding: 18px 20px 16px 50px;
  }

  @include respond-to($lapTop) {
    &__search-container {
      max-width: 100%;
      
    }

    .select {
      order: 2;
    }

  }

  @include respond-to($mobile) {
    &__search-container {
     font-size: 16px;
     margin: 0;
    }

    &__filter-icon {
      display: block;
      position: absolute;
      top: 50%;
    transform: translateY(-50%);
    right: 20px;
    width: 18px;
    height: 18px;
    }

    .select-popup {
      display: block;
    }
  }
}

.search-and-sort {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.sort-popup {
    display: none;
    position:absolute;
    z-index: 1000;
    right: 20px;
    top: 30px;
   
}

.sort-popup-content {

    padding: 20px;
    width: 100%;
    height: 100%;
}

.close-popup {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close-popup:hover,
.close-popup:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}
