@import '/src/scss/base/general.scss';
@import '/src/scss/base/reset.scss';
@import '/src/scss/base/vars.scss';
@import '/src/scss/base/template.scss';
@import '/src/scss/base/mixins.scss';
@import '/src/scss/base/extends.scss';

@import '/src/scss/components/header.scss';
@import '/src/scss/components/footer.scss';
@import '/src/scss//pages/main/banner.scss';
@import '/src/scss/pages/blog/blog-banner.scss';
@import '/src/scss/pages/main/main-about.scss';
@import '/src/scss/pages/about/info.scss';
@import '/src/scss/pages/about/team.scss';


    .main-banner__title {
        max-width: 250px;
        margin: 0 auto;
    }

    .blog-banner__wrapper {
      
        padding: 30px 17px;
    }