<section class="blog-banner">
<div class="container">
    <div class="blog-banner__wrapper">
        <h1 class="main-banner__title blog-banner__title">Welcome to our blog</h1>
        <p class="blog-banner__subtitle">Here you can find a lot of interesting and useful information that you need in gardening and creating a beautiful garden</p>
        <img src="/src/assets/images/icons/blog-first.svg" alt="bg" width="119" height="101" class="blog-banner__bg-first">
        <img src="/src/assets/images/icons/blog-second.svg" alt="bg" width="108" height="117" class="blog-banner__bg-sec">
        <img src="/src/assets/images/icons/blog-third.svg" alt="bg" width="42" height="36" class="blog-banner__bg-third">
        <img src="/src/assets/images/icons/blog-forth.svg" alt="bg" width="154" height="149" class="blog-banner__bg-forth">
        <img src="/src/assets/images/icons/blog-fifth-mob.svg" alt="bg" width="74" height="80" class="blog-banner__bg-fifth">
        <img src="/src/assets/images/icons/blog-sixth-mob.svg" alt="bg" width="42" height="36" class="blog-banner__bg-sixth">
    </div>
</div>
</section>