<section class="blog-banner {{class}}">
<div class="container">
    <div class="blog-banner__wrapper {{className}}">
        <h1 class="main-banner__title blog-banner__title">{{title}}</h1>
        <p class="blog-banner__subtitle">{{subtitle}}</p>
        <img src="/src/assets/images/blog-first.png" alt="bg" width="119" height="101" class="blog-banner__bg-first">
        <img src="/src/assets/images/blog-second.png" alt="bg" width="108" height="117" class="blog-banner__bg-sec">
        <img src="/src/assets/images/blog-third.png" alt="bg" width="42" height="36" class="blog-banner__bg-third">
        <img src="/src/assets/images/blog-forth.png" alt="bg" width="154" height="149" class="blog-banner__bg-forth">
        <img src="/src/assets/images/blog-fifth-mob.png" alt="bg" width="74" height="80" class="blog-banner__bg-fifth">
        <img src="/src/assets/images/blog-sixth-mob.png" alt="bg" width="42" height="36" class="blog-banner__bg-sixth">
    </div>
</div>
</section>