<section class="cart">
  <div class="container">
    <div class="cart__wrapper">

      <div class="cart__block">

        <div class="cart__top-wrapper">
          <h2 class="sections-title">Your cart.</h2>
          <p class="cart__btn">3 items</p>
        </div>

        <div class="cart__table">

            <div class="cart__row-title">
                <div class="cart__name-wrapper">
                    <p class="cart__tab-title">PRODUCT DETAILS</p>
                </div>
            
                <div class="cart__price-wrapper">
            
                    <div class="cart__item">
                        <p class="cart__tab-title">AMOUNT</p>
                    </div>
            
                    <div class="cart__item">
                        <p class="cart__tab-title">PRICE</p>
                    </div>
            
                    <div class="cart__item">
                        <p class="cart__tab-title">TOTAL</p>
                    </div>
            
                </div>
            </div>

            <div class="cart__row">
                <div class="cart__name-wrapper">
                <img src="/src/assets/images/icons/cart-cross.svg" alt="cross" width="22" height="22" loading="lazy" class="cart__cross" />
                <img src="/src/assets/images/icons/cart-product.svg" alt="product" width="64" height="63" loading="lazy" class="cart__product-icon"/>
                <h3 class="cart__name">SEEDRA Corn - Bodacious Hybrid Seeds for
                    Indoor and Outdoor Planting</h3>
                </div>

                <div class="cart__price-wrapper">

                <div class="cart__item">
                    <p class="cart__tab-title cart__tab-title-mob">AMOUNT</p>

                    <div class="cart__counter">
                        <button class="cart__counter-btn minus">-</button>
                        <span class="cart__counter-value">1</span>
                        <button class="cart__counter-btn plus">+</button>
                    </div>
                </div>

                <div class="cart__item">
                    <p class="cart__tab-title cart__tab-title-mob">PRICE</p>

                    <p class="cart__price">$12.56</p>
                </div>

                <div class="cart__item">
<p class="cart__tab-title cart__tab-title-mob">TOTAL</p>

                    <p class="cart__price">$24.56</p>
                </div>

                </div>
            </div>

        <div class="cart__row">
            <div class="cart__name-wrapper">
                <img src="/src/assets/images/icons/cart-cross.svg" alt="cross" width="22" height="22" loading="lazy"
                    class="cart__cross" />
                <img src="/src/assets/images/icons/cart-product.svg" alt="product" width="64" height="63" loading="lazy"
                    class="cart__product-icon" />
                <h3 class="cart__name">SEEDRA Corn - Bodacious Hybrid Seeds for
                    Indoor and Outdoor Planting</h3>
            </div>
        
            <div class="cart__price-wrapper">
        
                <div class="cart__item">
                    <p class="cart__tab-title cart__tab-title-mob">AMOUNT</p>
        
                    <div class="cart__counter">
                        <button class="cart__counter-btn minus">-</button>
                        <span class="cart__counter-value">1</span>
                        <button class="cart__counter-btn plus">+</button>
                    </div>
                </div>
        
                <div class="cart__item">
                    <p class="cart__tab-title cart__tab-title-mob">PRICE</p>
        
                    <p class="cart__price">$12.56</p>
                </div>
        
                <div class="cart__item">
                    <p class="cart__tab-title cart__tab-title-mob">TOTAL</p>
        
                    <p class="cart__price">$24.56</p>
                </div>
        
            </div>
        </div>

        <div class="cart__row">
            <div class="cart__name-wrapper">
                <img src="/src/assets/images/icons/cart-cross.svg" alt="cross" width="22" height="22" loading="lazy"
                    class="cart__cross" />
                <img src="/src/assets/images/icons/cart-product.svg" alt="product" width="64" height="63" loading="lazy"
                    class="cart__product-icon" />
                <h3 class="cart__name">SEEDRA Corn - Bodacious Hybrid Seeds for
                    Indoor and Outdoor Planting</h3>
            </div>
        
            <div class="cart__price-wrapper">
        
                <div class="cart__item">
                    <p class="cart__tab-title cart__tab-title-mob">AMOUNT</p>
        
                    <div class="cart__counter">
                        <button class="cart__counter-btn minus">-</button>
                        <span class="cart__counter-value">1</span>
                        <button class="cart__counter-btn plus">+</button>
                    </div>
                </div>
        
                <div class="cart__item">
                    <p class="cart__tab-title cart__tab-title-mob">PRICE</p>
        
                    <p class="cart__price">$12.56</p>
                </div>
        
                <div class="cart__item">
                    <p class="cart__tab-title cart__tab-title-mob">TOTAL</p>
        
                    <p class="cart__price">$24.56</p>
                </div>
        
            </div>
        </div>

        </div>


<a href="/src/pages/checkout/checkout.html" class="secondary-btn cart__cont-btn">Continue shopping</a>
      </div>

<div class="cart__block-summary">
    <h2 class="cart__block-summary-title">Order summary</h2>

    <div class="cart__total-price-wrapper">
        <p class="cart__total-items">3 ITEMS</p>
        <p class="cart__total-price">$12.56</p>
    </div>

    <div class="select">
        <label class="filter__sort-select">Type of delievery</label>
        <div class="filter__custom-select">
            <div class="filter__select-selected">Shipping</div>
            <div class="filter__select-items">
                <div data-value="nut1" class="filter__select-item">Shipping</div>
                <div data-value="nut2" class="filter__select-item">Shipping</div>
                <div data-value="nut3" class="filter__select-item">Shipping</div>
            </div>
            <img src="/src/assets/images/icons/arrow-down.svg" class="filter__select-arrow" alt="arrow" />
        </div>
    </div>

    <div class="cart__input-wrapper">
        <label class="cart__label" for="promocode">Promocode</label>
        <input class="cart__input" type="text" id="promocode" placeholder="Promocode" />
    </div>

    <div class="cart__total-price-wrapper cart__total-price-wrapper-s">
        <p class="cart__total-items">Total amount</p>
        <p class="cart__total-price">$12.56</p>
    </div>

    <a class="main-btn cart__cont-sec-btn" href="/Seedra/src/pages/checkout/checkout.html">Continue</a>
</div>

    </div>
  </div>
</section>