@import '/src/scss/base/general.scss';
@import '/src/scss/base/reset.scss';
@import '/src/scss/base/vars.scss';

body{
    background-color: indigo;
    color: white;

    a{
        color: white;
    }

}
