@import '@/scss/general.scss';
@import '@/scss/reset.scss';
@import '@/scss/vars.scss';
@import '@/scss/extends.scss';

body{
    background-color: indigo;
    color: white;

    a{
        color: white;
    }

}
