@import '/src/scss/base/mixins.scss';
@import '/src/scss/base/extends.scss';

.header {
  padding: 17px 0;
  box-shadow: 0px 4px 12px 0px #cfcfcf40;
  z-index: 2;
  

  &__wrapper,
  &__cart-wrapper {
    @extend %display-flex;
  }

  &__logo {
    margin: 0 48px 0 0;
  }

  @include respond-to($lapTop) {
    &__wrapper {
      justify-content: space-between;
    }
  }
}

.menu {
  @extend %display-flex;

  &__list,
  &__social-list,
  &__cart-list {
    @extend %display-flex;
  }

  &__list {
    color: $text-secondary;
    margin: 0 29px 0 0;
  }

  &__item {
    padding: 0 16px;
    transition: color 0.3s;
    position: relative;

    &.active {
      color: $primary-color;
      font-weight: 700;
    }

    @media (hover: hover) {
      &:hover {
        color: $primary-color;
      }
    }
  }

  &__item:not(:last-child)::after {
    content: "";
    position: absolute;
    width: 1px;
    height: 100%;
    top: 0;
    right: 0;
    background: $light-gray-stroke;
  }

  &__social-list {
    margin: 0 13px 0 0;
  }

  &__social-item {
    img {
      transition: filter 0.3s;
    }

    @media (hover: hover) {
      &:hover {
        img {
          filter: brightness(0) saturate(100%) invert(43%) sepia(78%)
            saturate(395%) hue-rotate(76deg) brightness(95%) contrast(90%);
        }
      }
    }
  }

  &__social-item:not(:last-child) {
    margin: 0 8px 0 0;
  }

  &__search-container {
    width: 285px;
    margin: 0 13px 0 0;
    position: relative;
  }

  &__search-container::before {
    content: "";
    position: absolute;
    background-image: url(/src/assets/images/icons/icon_search.svg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 24px;
    height: 24px;
    top: 50%;
    transform: translateY(-50%);
    left: 20px;
    font-size: 20px;
    color: #aaa;
  }

  &__search-input {
    width: 100%;
    border-radius: 71px;
    border: 1px solid $light-gray-stroke;
    padding: 13px 20px 11px 50px;
    outline: none;

    &:focus {
      border-color: $light-gray-stroke;
      box-shadow: 0px 1px 6px 0px #00000052;
    }
  }

  &__card-item:not(:last-child) {
    margin: 0 24px 0 0;
  }

  &__card-item:last-of-type {
    img {
      filter: brightness(0) saturate(100%) invert(43%) sepia(78%) saturate(395%)
        hue-rotate(76deg) brightness(95%) contrast(90%);
    }
  }

  &__card-item {
    opacity: 1;
    transition: opacity 0.3s;

    @media (hover: hover) {
      &:hover {
        opacity: 0.4;
      }
    }
  }

  &__burger {
    margin: 0 0 0 28px;
    display: none;
  }

  @include respond-to($lapTop) {
    &__search-container {
      max-width: 241px;
      width: 100%;
      margin: 0;
    }

    &__burger {
      display: block;
    }

    & {
      flex-direction: column;
      position: absolute;
      z-index: 100;
      top: 60px;
      right: 0;
     
      width: 280px;
      height: 100vh;
      padding: 15px 0 15px 0;
      background-color: $white;
    transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
     display: none;
      opacity: 0;
      transform: translateX(100%);
      visibility: hidden;
box-shadow: rgba(0, 0, 0, 0.2) 0px 60px 40px -7px;
    }

    &.show {
   
      opacity: 1;
      transform: translateX(0);
      visibility: visible;
    }

    &__search-container {
      order: 1;
    }

    &__list {
      order: 2;
      margin: 21px 0 0 0;
      display: block;
      width: 100%;
      padding: 0 23px;
    }

    &__item {
      padding: 15px 0;
    }

    &__item:not(:last-child):after {
      width: 100%;
      height: 1px;
      bottom: 0;
      top: auto;
    }

    &__social-list {
      order: 3;
      margin: 22px 0 0 0;
      padding: 14px 23px;
      position: relative;
      width: 100%;
    }

    &__social-list::after {
      content: "";
      position: absolute;
      width: 100%;
      height: 1px;
      top: 0;
      right: 0;

      background: #cfcfcf;
    }
  }

    
}
.main-blur {
    filter: blur(5px);
   
}




.cart-popup {
  position: absolute;
  z-index: 1000;
  top: 6.5%;
  right: 19%;
  width: 529px;
  background: $white;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  .cart-popup__content{
    padding: 18px 17px 25px;

    
    .close-popup--btn{
      position: relative;
      float: right;
      margin: 0 3px 0 0
    }
    .cart__item{
      @extend %display-flex;
      margin: 25px 0 20px 0;
      
      
      .cart__item__info{
        margin: 11px 30px 0 15px;
        width: 255px;
        .item__info--text{
          
          line-height: 25px;
          text-align: left;
          color: $text-primary;

        }
        .item__info__price{
          @extend %display-jc-sb ;
          margin: 7px 0 0 0;
          .info__price--quantity{
            line-height: 25px;
            color: $text-secondary;
          }
          .info__price--cash{
            font-size: 18px;
            font-weight: 500;
            line-height: 25px;
            color: $text-primary;

          }
        }
        
        
      }
    }
    .cart__item:nth-child(2){
      margin: 25px 0 15px 0;
    }
    .cart__item:nth-last-child(2){
      margin: 0px 0 34px 0;
      padding: 24px 0 0 0;
      border-top: 1px solid rgba(239, 239, 239, 1)
    }
  }
}

.hidden {
  display: none;
}

.cart__item__price{
  border: 1px solid rgba(239, 239, 239, 1);
  width: 104px;
  height: 44px;
  border-radius: 10px;
  margin: -15px 0 0 27px;
  @extend %display-flex ;
}

.counter-container {
  @extend %display-flex ;
  .counter-button {
    background: none;
    border: none;
    font-size: 24px;
    
    cursor: pointer;
    color:$green-brand; 
  }
  .counter-button--minus{
    padding: 0 7px 0px 14px;
  }
  .counter-button--plus{
    padding: 0 7px 0px 6px;
  }

.counter-value {
  font-size: 16px;
  font-weight: 500;
  line-height: 29px;
  margin: 0 0px;
  color: $green-brand;
  background-color: $invisible-green;
  padding: 0px 12px;
  border-radius: 10px;


}
.counter-button:focus {
  outline: none;
  @extend %display-flex ;
}

}
.counter-container__mobile{
  border: 1px solid rgb(239, 239, 239);
  display: none;
}
.cart__buttons{
  @extend %display-end ;

  #clear{
    font-weight: 500;
    line-height: 25px;
    letter-spacing: 0px;
    margin: 0 46px 0 0;
    color: $green-brand;
  }

  #proceed-to-payment {
    width: 198px;
    padding: 16px;
    background:$green-brand;
    color: $white;
    border-radius: 10px;
    cursor: pointer;
    text-align: center;
    letter-spacing: 0.5px;
  }

}

@media (max-width:1440px){
  .cart-popup{
    right: 50px;
  }
}

@media (max-width:1160px){
  .cart-popup{
    right: 30px;
  }
}

@media (max-width:574px){
  .cart-popup{
    right: 30px;
    width: 90%;
    .cart-popup__content{

      .cart__item{

        
        .cart__item__price{
          margin: -15px 0 0 0px;
        }
      }
    }
  }
}

@media (max-width:425px){
  .cart-popup {
    width: 345px;
    height: 500px;
    right: 15px;
    .cart-popup__content{

      .cart__item{
        .cart__item--img{
          margin: -45px 0 0 -1px;
        }
        .cart__item__info{
          
          .item__info--text{
            width: 228px;
            margin: 0 0 0 0px;
            letter-spacing: 0;
          }
          .item__info__price-mobile{
            display: flex;
            justify-content: space-between;
              align-items: center;
            margin: 13px 0 0 2px;
            .item__info__price{
              display: block;
              margin: 0 0 0 0;
            }
            
            .counter-container__mobile{
              display: flex;
              margin: 0 8px 0 0;
            }
          }
          
        }
        .cart__item__price{
          display: none;
          .counter-container{
            display: none;
          }
        }
        
      }
      .cart__item:nth-child(2){
        margin: 8px 0 15px 0;
      }
      .cart__item:nth-last-child(2){
        margin: 0px 0 60px 0;
        padding: 31px 0 0 0;
      }
      .cart__buttons{
        margin: 0 0 0 0;
      }
    }
  }
}




