@import '@/scss/general.scss';
@import '@/scss/reset.scss';
@import '@/scss/vars.scss';
@import '@/scss/extends.scss';


body{ 
  background-color: brown;
  color: white;
  
  a{
    color: blue;
  }
}