.catalog__product-list {
  .catalog__wrapper {
    display: flex;
    gap: 32px;
    margin: 12px 0 0 0;
  }
  .filters {
    width: 254px;
    .filters__title {
      line-height: 25px;
    }
    .filter {
      margin-bottom: 10px;

      .accordion {
        @extend %display-jc-sb;
        font-weight: bold;
        cursor: pointer;
        padding: 13px 0 5px;
        // width: 100%;
        width: 254px;
        text-align: left;
        border-top: 1px solid $light-gray-stroke;
        font-size: 16px;
        font-weight: 500;
        line-height: 29px;
        font-family: "Lexend", sans-serif;
        .arrow {
          transition: transform 0.3s;
        }

        .arrow.rotate {
          transform: rotate(180deg);
        }
      }
      .panel {
        display: none;
        padding: 18px 0 3px;
        font-family: "Lexend", sans-serif;
        color: $text-secondary;
        li {
          margin: 0 0 19px 0;
        }
        .custom-checkbox {
          @extend %display-flex;
          align-items: center;
        }
        .custom-checkbox input[type="checkbox"] {
          display: none;
        }

        .custom-checkbox .checkbox {
          width: 21px;
           height: 21px;
          border: 2px solid #ccc;
          border-radius: 8px;
          background-color: $white;
          display: inline-block;
          @extend %position-rel;
          cursor: pointer;
          vertical-align: middle; 
          margin-right: 8px; 
        }

        .custom-checkbox input[type="checkbox"]:checked + .checkbox {
          background-color: #e8f5e9; 
          border-color: #4caf50; 
        }

        .custom-checkbox input[type="checkbox"]:checked + .checkbox::after {
          content: "";
          @extend %position-abs;
          top: 50%;
          left: 50%;
          width: 10px;
          height: 18px;
          border: solid #4caf50;
          border-width: 0 3px 3px 0;
          transform: translate(-50%, -50%) rotate(45deg);
        }

        
      }
    }
  }

  .catalog-product__list {
    display: grid;
    //   grid-template-columns: repeat(auto-fill, minmax(255px, 1fr));
    grid-template-columns: 1fr 1fr 1fr;
    gap: 30px;
  }

  .catalog-product__item {
    padding: 18px;
    border: 2px solid $light-gray-stroke;
    border-radius: 8px;
    min-width: 255px;

    width: 100%;
    @extend %position-rel;
    transition: box-shadow 0.3s;

    img {
      margin: 0 auto;
      max-height: 188px;
      width: auto;
    }

    @media (hover: hover) {
      &:hover {
        box-shadow: 0px 1px 13px 0px #00000040;
      }
    }
  }

  .catalog-product__heard-fill {
    display: none;
  }

  .catalog-product__heard-wrapper.active {
    & {
      border: 1px solid $yellow;
    }
  }

  .catalog-product__heard-wrapper {
    @extend %position-abs;
    top: 12px;
    right: 12px;
    width: 40px;
    height: 40px;
    border: 1px solid $light-gray-stroke;
    border-radius: 50%;
    @extend %display-center;
    cursor: pointer;

    img {
      filter: brightness(0) saturate(100%) invert(85%) sepia(93%)
        saturate(2064%) hue-rotate(315deg) brightness(105%) contrast(101%);
    }
  }

  .catalog-product__rat-wrapper {
    margin: 29px 0 0 0;
    @extend %display-flex;
  }

  .catalog-product__rat-list {
    @extend %display-flex;
    margin: 0 13px 0 0;
  }

  .catalog-product__rat-item:not(:last-child) {
    margin: 0 1px 0 0;
  }

  .catalog-product__com {
    color: $text-secondary;
  }

  .catalog-product__card-title {
    margin: 8px 0 0 0;
    font-weight: 500;
    font-size: 16px;
  }

  .catalog-product__price-wrapper {
    margin: 8px 0 0 0;
    @extend %display-jc-sb;
  }

  .catalog-product__price {
    font-weight: 600;
    font-size: 28px;
  }

  .catalog-product__cart-btn {
    cursor: pointer;
  }

  

  @include respond-to($s-mobile) {
    .catalog-product__item {
      min-width: 295px;
    }
  }
  .cart-btn {
    border: 1px solid rgba(239, 239, 239, 1);
    border-radius: 8px;
    background: transparent;
    background-image: url(/src/assets/images/icons/icon_cart.svg);
    filter: brightness(0) saturate(100%) invert(43%) sepia(78%) saturate(395%)
      hue-rotate(76deg) brightness(95%) contrast(90%);
    background-repeat: no-repeat;
    background-position: center;
    width: 48px;
    height: 48px;
    transition: background 0.3s;

    &:hover {
      background: rgba(53, 151, 64, 0.08);
      background-image: url(/src/assets/images/icons/icon_cart.svg);
      background-repeat: no-repeat;
      background-position: center;
      border: none;
      filter: none;
    }

    &.active {
      background: rgba(79, 160, 131, 1);
      background-image: url(/src/assets/images/icons/icon_cart.svg);
      background-repeat: no-repeat;
      background-position: center;
      border: none;
      filter: none;
    }
  }
}

.price-slider {
  width: 300px;
  border: 1px solid #ddd;
  padding: 20px;
  border-radius: 5px;
}

.price-header {
  @extend %display-jc-sb;
  margin-bottom: 10px;
}

.price-title {
  font-weight: bold;
  font-size: 18px;
}

.price-toggle {
  border: none;
  background: none;
  cursor: pointer;
  font-size: 18px;
}
.price-filter__title {
  @extend %display-start;
  margin: -5px 0px 9px 0px;
  color: $text-secondary;
  .title-to {
    margin-left: 124px;
  }
}
.price-inputs {
  @extend %display-jc-sb;
  margin-bottom: 10px;
}

.price-inputs input {
  width: 95px;
  padding: 12px 5px;
  font-size: 16px;
  border: 1px solid #ddd;
  border-radius: 3px;
  text-align: center;
}

.slider-container {
  width: 100%;
  padding: 12px 0 15px;
  @extend %display-start;
}

input[type="range"] {
  -webkit-appearance: none;
  width: 100%;
  height: 5px;
  border-radius: 5px;
  outline: none;
  transition: opacity 0.2s;
  background: linear-gradient(to right, #4caf50 50%, #e1e1e1 50%);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}

input[type="range"]::-webkit-slider-runnable-track {
  width: 100%;
  height: 8px;
  border-radius: 5px;
  background: transparent;
}

input[type="range"]::-moz-range-track {
  width: 100%;
  height: 8px;
  border-radius: 5px;
  background: transparent;
}

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 20px;
  height: 20px;
  background: $white;
  border: 2px solid #4caf50;
  border-radius: 50%;
  cursor: pointer;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  margin-top: -6px; /* To vertically center the thumb */
}

input[type="range"]::-moz-range-thumb {
  width: 20px;
  height: 20px;
  background: $white;
  border: 2px solid #4caf50;
  border-radius: 50%;
  cursor: pointer;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

input[type="range"]::-ms-thumb {
  width: 20px;
  height: 20px;
  background: $white;
  border: 2px solid #4caf50;
  border-radius: 50%;
  cursor: pointer;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

input[type="range"]:focus::-webkit-slider-runnable-track {
  background: transparent;
}

input[type="range"]:focus::-moz-range-track {
  background: transparent;
}

input[type="range"]:focus::-ms-fill-lower {
  background: transparent;
}

input[type="range"]:focus::-ms-fill-upper {
  background: transparent;
}


@media (max-width:1142px){
  .catalog__product-list{
    .catalog-product__list{
      grid-template-columns: 1fr 1fr ;
    }
  }
}


@media (max-width:853px){
  .catalog__product-list{
    .filters{
      display: none;
    }
    .catalog-product__list{
      margin: 0 auto;
      gap: 20px;
      grid-template-columns: 1fr 1fr;
    }
  }
}

@media (max-width:575px){
  .catalog__product-list{
    .catalog-product__list{
      margin: 0 auto;
      gap: 20px;
      grid-template-columns: 1fr ;
    }
  }
}

@media (max-width:340px){
  .catalog__product-list{
    .catalog-product__list{
      .catalog-product__item{
        min-width: 290px;
      }
    }
  }
}