.search {
  margin: 30px 0 0 0;

  .search__container {
    .search__block {
      // search---------------
      .search-box {
        @extend %display-jc-sb;
        gap: 20px;
        width: 100%;
        .search__form {
          @extend %display-center;
          width: 100%;
          border-radius: 71px;
          border: 1px solid $light-gray-stroke;
          position: relative;
          order: 0;
          .search-form__btn {
            @extend %display-center;
            position: absolute;
            top: auto;
            left: 29px;
            z-index: 2;
          }
          .search-form__input {
            position: relative;
            top: 0;
            left: 0;
            width: 100%;
            height: 64px;
            border-radius: 71px;
            color: $text-secondary;
            border: 1px solid $light-gray-stroke;
            padding: 0 20px 0 68px;
          }
          .search-form__filter {
            display: none;
            position: absolute;
            top: auto;
            right: 29px;
          }
        }
      }
      // select---------------
      .select {
        position: relative;
        display: inline-block;
        width: 350px;
        margin-right: 6px;

        .select__body {
          .select__title {
            background-color: white;
            border: 1px solid #e0e0e0;
            padding: 14px 28px;
            width: 100%;
            text-align: left;
            cursor: pointer;
            border-radius: 71px;
            font-family: "Lexend", sans-serif;
            display: flex;
            justify-content: space-between;
            align-items: center;
            box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
          }
          .select__title::after {
            content: "˅";
            margin-left: auto;
            color: #8c8c8c;
          }
          .select__value {
            display: flex;
            flex-direction: column;
          }
          .select__label {
            font-size: 12px;
            color: #8c8c8c;
            margin-bottom: 2px;
          }

          .select__content {
            font-size: 14px;
            color: #333;
          }

          .select__options {
            position: absolute;
            top: 100%;
            left: 0;
            right: 0;
            background-color: white;
            border: 1px solid #e0e0e0;

            border-radius: 71px;
            box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
            z-index: 1000;
            transition: opacity 0.2s ease, visibility 0.2s ease;
          }

          .select__options.show {
            opacity: 1;
            visibility: visible;
          }

          .select__option {
            padding: 10px 15px;
            width: 100%;
            text-align: left;
            background-color: white;
            border: none;
            cursor: pointer;
            font-size: 14px;
            font-family: "Lexend", sans-serif;
          }

          .select__option:last-child {
            border-radius: 0 0 14px 14px;
          }

          .select__option:hover {
            background-color: #f1f1f1;
          }

          .select__scroll {
            max-height: 150px;
            overflow-y: auto;
          }
        }
      }
    }
  }
}

// popup-filter tablet/mobile
.filter-popup {
  display: none;
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;

  .filter-popup__content {
    background-color: $white;
    margin: 165px auto;
    padding: 15px 24px;
    box-shadow: 0px 4px 26px 0px rgba(199, 199, 199, 0.5);
    width: 345px;

    .filter-popup__close {
      color: #aaa;
      float: right;
      font-size: 28px;
      font-weight: bold;
      &:hover,
      &:focus {
        color: black;
        text-decoration: none;
        cursor: pointer;
      }
    }

    .filter__popup {
      border-radius: 5px;

      &__title {
        display: flex;
        margin-bottom: 10px;
        color: $text-secondary;

        .title-from,
        .title-to {
          font-size: 14px;
        }

        .title-to {
          margin-left: 101px;
        }
      }

      .popup-price-inputs {
        @extend %display-jc-sb;
        margin-bottom: 10px;
        width: 100%;

        input {
          width: 116px;
          padding: 12px 5px;
          font-size: 16px;
          border: 1px solid $light-gray-stroke;
          border-radius: 3px;
          text-align: center;
        }

        span {
          img {
            display: block;
          }
        }
      }

      .popup-slider-container {
        width: 80%;
        padding: 12px 0 15px;
        @extend %display-flex;

        input[type="range"] {
          -webkit-appearance: none;
          width: 100%;
          height: 5px;
          border-radius: 5px;
          outline: none;
          transition: opacity 0.2s;
          background: linear-gradient(
            to right,
            $green-brand 50%,
            $light-gray-stroke 50%
          );
          box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);

          &::-webkit-slider-runnable-track,
          &::-moz-range-track {
            width: 100%;
            height: 8px;
            border-radius: 5px;
            background: transparent;
          }

          &::-webkit-slider-thumb,
          &::-moz-range-thumb,
          &::-ms-thumb {
            -webkit-appearance: none;
            appearance: none;
            width: 20px;
            height: 20px;
            background: $white;
            border-radius: 50%;
            cursor: pointer;
            margin-top: -6px;
          }

          &:focus::-webkit-slider-runnable-track,
          &:focus::-moz-range-track,
          &:focus::-ms-fill-lower,
          &:focus::-ms-fill-upper {
            background: transparent;
          }
        }
      }
    }

    .popup-accordion {
      font-weight: bold;
      cursor: pointer;
      padding: 20px 0 4px;
      width: 254px;
      text-align: left;
      border-bottom: 1px solid $light-gray-stroke;
      font-size: 16px;
      font-weight: 500;
      line-height: 29px;
      font-family: "Lexend", sans-serif;
      @extend %display-jc-sb;
      .popup-arrow {
        transition: transform 0.3s;
      }

      .popup-arrow.rotate {
        transform: rotate(180deg);
      }
    }

    .filter-popup__menu {
      display: none;
      padding: 18px 0 0px;
      color: $text-secondary;

      .filter-popup__menu-item {
        margin: 0 0 13px 0;
        line-height: 25px;
        letter-spacing: 1px;

        .popup-checkbox {
          @extend %display-flex;
          align-items: center;

          input[type="checkbox"] {
            display: none;
          }

          .checkbox {
            width: 21px;
            height: 21px;
            border: 2px solid $light-gray-stroke;
            border-radius: 8px;
            background-color: $white;
            display: inline-block;
            @extend %position-rel;
            cursor: pointer;
            vertical-align: middle;
            margin-right: 8px;
          }

          input[type="checkbox"]:checked + .checkbox {
            background-color: $white;
            border-color: $green-brand;
          }

          input[type="checkbox"]:checked + .checkbox::after {
            content: "";
            @extend %position-abs;
            top: 40%;
            left: 50%;
            width: 8px;
            height: 14px;
            border: solid $green-brand;
            border-width: 0 3px 3px 0;
            transform: translate(-50%, -50%) rotate(45deg);
          }
        }
      }
    }
  }
}
@media (max-width: 853px) {
  .search {
    .search__container {
      .search__block {
        .search-box {
          .search__form {
            .search-form__filter {
              display: block;
            }
          }
        }
      }
    }
  }
}
@media (max-width: 575px) {
  .search {
    margin: 39px 0 0 0;
    .search__block {
      .search-box {
        .search__form {
          .search-form__input {
            height: 53px !important;
          }
          .search-form__filter {
            right: 19px !important;
          }
        }
      }

      .select {
        display: none !important;
      }
    }
  }
}
