.search {
  margin: 30px 0 0 0;

  .search__container {
    .search__block {
      // search---------------
      .search-box {
        @extend %display-jc-sb;
        gap: 20px;
        width: 100%;
        .search__form {
          @extend %display-center;
          width: 100%;
          border-radius: 71px;
          border: 1px solid $light-gray-stroke;
          position: relative;
          order: 0;
          .search-form__btn {
            @extend %display-center;
            position: absolute;
            top: auto;
            left: 29px;
            z-index: 2;
          }
          .search-form__input {
            position: relative;
            top: 0;
            left: 0;
            width: 100%;
            height: 64px;
            border-radius: 71px;
            color: $text-secondary;
            border: 1px solid $light-gray-stroke;
            padding: 0 20px 0 68px;
          }
          .search-form__filter {
            display: none;
            position: absolute;
            top: auto;
            right: 29px;
          }
        }
      }
      // select---------------
      .select {
        position: relative;
        display: inline-block;
        width: 350px;
        margin-right: 6px;

        .select__body {
          .select__title {
            background-color: white;
            border: 1px solid #e0e0e0;
            padding: 14px 28px;
            width: 100%;
            text-align: left;
            cursor: pointer;
            border-radius: 71px;
            font-family: "Lexend", sans-serif;
            display: flex;
            justify-content: space-between;
            align-items: center;
            box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
          }
          .select__title::after {
            content: "˅";
            margin-left: auto;
            color: #8c8c8c;
          }
          .select__value {
            display: flex;
            flex-direction: column;
          }
          .select__label {
            font-size: 12px;
            color: #8c8c8c;
            margin-bottom: 2px;
          }

          .select__content {
            font-size: 14px;
            color: #333;
          }

          .select__options {
            position: absolute;
            top: 100%;
            left: 0;
            right: 0;
            background-color: white;
            border: 1px solid #e0e0e0;

            border-radius: 71px;
            box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
            z-index: 1000;
            transition: opacity 0.2s ease, visibility 0.2s ease;
          }

          .select__options.show {
            opacity: 1;
            visibility: visible;
          }

          .select__option {
            padding: 10px 15px;
            width: 100%;
            text-align: left;
            background-color: white;
            border: none;
            cursor: pointer;
            font-size: 14px;
            font-family: "Lexend", sans-serif;
          }

          .select__option:last-child {
            border-radius: 0 0 14px 14px;
          }

          .select__option:hover {
            background-color: #f1f1f1;
          }

          .select__scroll {
            max-height: 150px;
            overflow-y: auto;
          }
        }
      }
    }
  }
}

// popup-filter tablet/mobile
.filter-popup {
  display: none;
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;

  .filter-popup__content {
    background-color: $white;
    margin: 165px auto;
    padding: 5px 24px;
    box-shadow: 0px 4px 26px 0px rgba(199, 199, 199, 0.5);
    width: 345px;

    .filter-popup__close {
      color: #aaa;
      float: right;
      font-size: 28px;
      font-weight: bold;
      &:hover,
      &:focus {
        color: black;
        text-decoration: none;
        cursor: pointer;
      }
    }
    .filter__popup {
      width: 254px;
      margin: 5px 0 0 0;
      .filter__popup__title {
        line-height: 25px;
      }
      .filter__popup__item {
        margin-bottom: 10px;

        .filter__popup__accordion {
          @extend %display-jc-sb;
          font-weight: bold;
          cursor: pointer;
          padding: 16px 0 4px;
          width: 304px;
          text-align: left;
          border-bottom: 1px solid $light-gray-stroke;
          font-size: 16px;
          font-weight: 500;
          line-height: 29px;
          font-family: $fontFamilyBase;
          .arrow {
            transition: transform 0.3s;
          }

          .arrow.rotate {
            transform: rotate(180deg);
          }
        }
        .filter__popup__menu {
          display: none;
          padding: 18px 0 0px;
          font-family: $fontFamilyBase;
          color: $text-secondary;

          .filter__popup__menu--item {
            margin: 0 0 13px 0;
            line-height: 25px;
            letter-spacing: 1px;
          }
          .custom-checkbox {
            @extend %display-flex;
            align-items: center;
          }
          .custom-checkbox input[type="checkbox"] {
            display: none;
          }

          .custom-checkbox .checkbox {
            width: 21px;
            height: 21px;
            border: 2px solid #ccc;
            border-radius: 8px;
            background-color: $white;
            display: inline-block;
            @extend %position-rel;
            cursor: pointer;
            vertical-align: middle;
            margin-right: 8px;
          }

          .custom-checkbox input[type="checkbox"]:checked + .checkbox {
            background-color: #e8f5e9;
            border-color: #4caf50;
          }

          .custom-checkbox input[type="checkbox"]:checked + .checkbox::after {
            content: "";
            @extend %position-abs;
            top: 50%;
            left: 50%;
            width: 10px;
            height: 18px;
            border: solid #4caf50;
            border-width: 0 3px 3px 0;
            transform: translate(-50%, -50%) rotate(45deg);
          }
          
.price-slider {
  width: 300px;
  border: 1px solid #ddd;
  padding: 20px;
  border-radius: 5px;
}

.price-header {
  @extend %display-jc-sb;
  margin-bottom: 10px;
}

.price-title {
  font-weight: bold;
  font-size: 18px;
}

.price-toggle {
  border: none;
  background: none;
  cursor: pointer;
  font-size: 18px;
}
.price-filter__title {
  @extend %display-start;
  margin: -5px 0px 9px 0px;
  color: $text-secondary;
  .title-to {
    margin-left: 101px;
  }
}
.price-inputs {
  @extend %display-jc-sb;
  margin: 0 23px 10px 0;
}

.price-inputs input {
  width: 95px;
  padding: 12px 5px;
  font-size: 16px;
  border: 1px solid #ddd;
  border-radius: 3px;
  text-align: center;
}

.slider-container {
  width: 100%;
  padding: 12px 0 15px;
  @extend %display-start;
}

input[type="range"] {
  -webkit-appearance: none;
  width: 100%;
  height: 5px;
  border-radius: 5px;
  outline: none;
  transition: opacity 0.2s;
  background: linear-gradient(to right, #4caf50 50%, #e1e1e1 50%);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}

input[type="range"]::-webkit-slider-runnable-track {
  width: 100%;
  height: 8px;
  border-radius: 5px;
  background: transparent;
}

input[type="range"]::-moz-range-track {
  width: 100%;
  height: 8px;
  border-radius: 5px;
  background: transparent;
}

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 20px;
  height: 20px;
  background: $white;
  border: 2px solid #4caf50;
  border-radius: 50%;
  cursor: pointer;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  margin-top: -6px; /* To vertically center the thumb */
}

input[type="range"]::-moz-range-thumb {
  width: 20px;
  height: 20px;
  background: $white;
  border: 2px solid #4caf50;
  border-radius: 50%;
  cursor: pointer;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

input[type="range"]::-ms-thumb {
  width: 20px;
  height: 20px;
  background: $white;
  border: 2px solid #4caf50;
  border-radius: 50%;
  cursor: pointer;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

input[type="range"]:focus::-webkit-slider-runnable-track {
  background: transparent;
}

input[type="range"]:focus::-moz-range-track {
  background: transparent;
}

input[type="range"]:focus::-ms-fill-lower {
  background: transparent;
}

input[type="range"]:focus::-ms-fill-upper {
  background: transparent;
}
        }
      }
    }
  }
}
@media (max-width: 853px) {
  .search {
    .search__container {
      .search__block {
        .search-box {
          .search__form {
            .search-form__filter {
              display: block;
            }
          }
        }
      }
    }
  }
}
@media (max-width: 575px) {
  .search {
    margin: 39px 0 0 0;
    .search__block {
      .search-box {
        .search__form {
          .search-form__input {
            height: 53px !important;
          }
          .search-form__filter {
            right: 19px !important;
          }
        }
      }

      .select {
        display: none !important;
      }
    }
  }
}
