<section class="category">
  <div class="container">
    <div class="filter__buttons__box">
      <div class="store__buttons filter__buttons">
        <a
          href="/src/pages/product/product.html"
          data-filter="all"
          type="button"
          class="filter__btn button button-product active"
          aria-label="Button product"
        >
          <img
            src="/src/assets/images/icons/all-product-icon.svg"
            class="svg-copy"
            alt="all-products"
            width="26"
            height="26"
            loading="lazy"
          />
          <span>ALL</span>
        </a>

        <button
          data-filter=".bundles"
          type="button"
          class="filter__btn button button-product"
          aria-label="Button product"
        >
          <img
            src="/src/assets/images/icons/bundles-icon.svg"
            class="svg-copy"
            alt="bundles"
            width="26"
            height="26"
            loading="lazy"
          />
          <span>BUNDLES</span>
        </button>

        <button
          id="popupButton"
          data-filter=".herbs"
          type="button"
          class="filter__btn button button-product"
          aria-label="Button product"
        >
          <img
            src="/src/assets/images/icons/herbs-icon.svg"
            class="svg-copy"
            alt="herbs"
            width="26"
            height="26"
            loading="lazy"
          />
          <span>HERBS</span>

          <div id="herbsPopup" class="popup">
            <div class="popup-content">
              <span class="popup-close">&times;</span>
              <span class="herbs-popup-title">Herbs</span>
              <div class="herbs-popup__lists">
                <ul class="herbs-popup__list">
                  <li><a
                      class="herbs-popup__button-link"
                      href="#"
                    >Angelica</a></li>
                  <li><a
                      class="herbs-popup__button-link"
                      href="#"
                    >Anise</a></li>
                  <li><a class="herbs-popup__button-link" href="#">Anise Hyssop</a></li>
                  <li><a class="herbs-popup__button-link" href="#">Asclepias
                      (Butterfly Weed)</a></li>
                  <li><a
                      class="herbs-popup__button-link"
                      href="#"
                    >Basil</a></li>
                  <li><a class="herbs-popup__button-link" href="#">Bee Balm</a></li>
                  <li><a
                      class="herbs-popup__button-link"
                      href="#"
                    >Borage</a></li>
                </ul>
                <ul class="herbs-popup__list">
                  <li><a
                      class="herbs-popup__button-link"
                      href="#"
                    >Calendula</a></li>
                  <li><a
                      class="herbs-popup__button-link"
                      href="#"
                    >Caraway</a></li>
                  <li><a
                      class="herbs-popup__button-link"
                      href="#"
                    >Catmint</a></li>
                  <li><a
                      class="herbs-popup__button-link"
                      href="#"
                    >Catnip</a></li>
                  <li><a
                      class="herbs-popup__button-link"
                      href="#"
                    >Chamomile</a></li>
                  <li><a
                      class="herbs-popup__button-link"
                      href="#"
                    >Chervil</a></li>
                </ul>
                <ul class="herbs-popup__list">
                  <li><a
                      class="herbs-popup__button-link"
                      href="#"
                    >Calendula</a></li>
                  <li><a
                      class="herbs-popup__button-link"
                      href="#"
                    >Caraway</a></li>
                  <li><a
                      class="herbs-popup__button-link"
                      href="#"
                    >Catmint</a></li>
                  <li><a
                      class="herbs-popup__button-link"
                      href="#"
                    >Catnip</a></li>
                  <li><a
                      class="herbs-popup__button-link"
                      href="#"
                    >Chamomile</a></li>
                  <li><a
                      class="herbs-popup__button-link"
                      href="#"
                    >Chervil</a></li>
                </ul>
              </div>
              <a href="#" class="herbs-popup-button">View all Herbs</a>
            </div>
          </div>

        </button>

        <button
          data-filter=".vegetables"
          type="button"
          class="filter__btn button button-product"
          aria-label="Button product"
        >
          <img
            src="/src/assets/images/icons/vegetable-icon.svg"
            class="svg-copy"
            alt="vegetables"
            width="26"
            height="26"
            loading="lazy"
          />
          <span>VEGETABLES</span>
        </button>

        <button
          data-filter=".fruits"
          type="button"
          class="filter__btn button button-product"
          aria-label="Button product"
        >
          <img
            src="/src/assets/images/icons/fruits-icon.svg"
            class="svg-copy"
            alt="fruit"
            width="26"
            height="26"
            loading="lazy"
          />
          <span>FRUITS</span>
        </button>

        <button
          data-filter=".supplies"
          type="button"
          class="filter__btn button button-product"
          aria-label="Button product"
        >
          <img
            src="/src/assets/images/icons/supplies-icon.svg"
            class="svg-copy"
            alt="supplies"
            width="26"
            height="26"
            loading="lazy"
          />
          <span>SUPPLIES</span>
        </button>

        <button
          data-filter=".flowers"
          type="button"
          class="filter__btn button button-product"
          aria-label="Button product"
        >
          <img
            src="/src/assets/images/icons/flower-icon.svg"
            class="svg-copy"
            alt="flowers"
            width="26"
            height="26"
            loading="lazy"
          />
          <span>FLOWERS</span>
        </button>
      </div>
    </div>
  </div>
</section>