<section class="catalog__product-list">
  <div class="container">
    <div class="catalog__product-list__wrapper catalog__wrapper">
      <div class="catalog__product-list__filters filters">
        <h3 class="filters__title">FILTERS</h3>
        <div class="filter">
    <button class="accordion">Seed type
      <span class="arrow"><img src="/src/assets/images/icons/arrow-down.svg" alt="arrow-down" width="24" height="24" /></span>
    </button>
    <ul class="panel">
      <li>
        <label for="hybrid" class="custom-checkbox">
          <input type="checkbox" name="hybrid" id="hybrid" />
          <span class="checkbox"></span>
          Hybrid
        </label>
      </li>
      <li>
        <label for="open-pollinated" class="custom-checkbox">
          <input type="checkbox" name="open-pollinated" id="open-pollinated" />
          <span class="checkbox"></span>
          Open Pollinated
        </label>
      </li>
      <li>
        <label for="organic-seeds" class="custom-checkbox">
          <input type="checkbox" name="organic-seeds" id="organic-seeds" />
          <span class="checkbox"></span>
          Organic Seeds, Plants, and Supplies
        </label>
      </li>
      <li>
        <label for="pelleted-seed" class="custom-checkbox">
          <input type="checkbox" name="pelleted-seed" id="pelleted-seed" />
          <span class="checkbox"></span>
          Pelleted Seed
        </label>
      </li>
    </ul>
  </div>
        <div class="filter">
          <button class="accordion">Featured
            <span class="arrow"><img
                src="/src/assets/images/icons/arrow-down.svg"
                alt="arrow-down"
                width="24"
                height="24"
              /></span></button>
          <ul class="panel">
      <li>
        <label for="hybrid" class="custom-checkbox">
          <input type="checkbox" name="hybrid" id="hybrid" />
          <span class="checkbox"></span>
          Hybrid
        </label>
      </li>
      <li>
        <label for="open-pollinated" class="custom-checkbox">
          <input type="checkbox" name="open-pollinated" id="open-pollinated" />
          <span class="checkbox"></span>
          Open Pollinated
        </label>
      </li>
      <li>
        <label for="organic-seeds" class="custom-checkbox">
          <input type="checkbox" name="organic-seeds" id="organic-seeds" />
          <span class="checkbox"></span>
          Organic Seeds, Plants, and Supplies
        </label>
      </li>
      <li>
        <label for="pelleted-seed" class="custom-checkbox">
          <input type="checkbox" name="pelleted-seed" id="pelleted-seed" />
          <span class="checkbox"></span>
          Pelleted Seed
        </label>
      </li>
    </ul>
        </div>
        <div class="filter">
          <button class="accordion">Growing Conditions
            <span class="arrow"><img
                src="/src/assets/images/icons/arrow-down.svg"
                alt="arrow-down"
                width="24"
                height="24"
              /></span></button>
          <ul class="panel">
      <li>
        <label for="hybrid" class="custom-checkbox">
          <input type="checkbox" name="hybrid" id="hybrid" />
          <span class="checkbox"></span>
          Hybrid
        </label>
      </li>
      <li>
        <label for="open-pollinated" class="custom-checkbox">
          <input type="checkbox" name="open-pollinated" id="open-pollinated" />
          <span class="checkbox"></span>
          Open Pollinated
        </label>
      </li>
      <li>
        <label for="organic-seeds" class="custom-checkbox">
          <input type="checkbox" name="organic-seeds" id="organic-seeds" />
          <span class="checkbox"></span>
          Organic Seeds, Plants, and Supplies
        </label>
      </li>
      <li>
        <label for="pelleted-seed" class="custom-checkbox">
          <input type="checkbox" name="pelleted-seed" id="pelleted-seed" />
          <span class="checkbox"></span>
          Pelleted Seed
        </label>
      </li>
    </ul>
        </div>
        <div class="filter">
          <button class="accordion">Price
            <span class="arrow"><img
                src="/src/assets/images/icons/arrow-down.svg"
                alt="arrow-down"
                width="24"
                height="24"
              /></span></button>
          <div class="panel price-filter">
            <div class="price-inputs">
              <ul class="price-inputs__from">
                <li>
                  <h2>from</h2>
                </li>
                <li>
                  <input type="text" id="price-from" value="$1232" />
                </li>
              </ul>
              <span class="">—</span>
              <ul class="price-inputs__to">
                <li>
                  <h2>to</h2>
                </li>
                <li>
                  <input type="text" id="price-to" />
                </li>
              </ul>
            </div>
            <div class="range-slider">
              <input
                type="range"
                min="0"
                max="2000"
                value="1232"
                id="price-range"
              />
            </div>
          </div>
        </div>
        <div class="filter">
          <button class="accordion">Use
            <span class="arrow"><img
                src="/src/assets/images/icons/arrow-down.svg"
                alt="arrow-down"
                width="24"
                height="24"
              /></span></button>
          <ul class="panel">
      <li>
        <label for="hybrid" class="custom-checkbox">
          <input type="checkbox" name="hybrid" id="hybrid" />
          <span class="checkbox"></span>
          Hybrid
        </label>
      </li>
      <li>
        <label for="open-pollinated" class="custom-checkbox">
          <input type="checkbox" name="open-pollinated" id="open-pollinated" />
          <span class="checkbox"></span>
          Open Pollinated
        </label>
      </li>
      <li>
        <label for="organic-seeds" class="custom-checkbox">
          <input type="checkbox" name="organic-seeds" id="organic-seeds" />
          <span class="checkbox"></span>
          Organic Seeds, Plants, and Supplies
        </label>
      </li>
      <li>
        <label for="pelleted-seed" class="custom-checkbox">
          <input type="checkbox" name="pelleted-seed" id="pelleted-seed" />
          <span class="checkbox"></span>
          Pelleted Seed
        </label>
      </li>
    </ul>
        </div>
        <div class="filter">
          <button class="accordion">Additional Characteristic
            <span class="arrow"><img
                src="/src/assets/images/icons/arrow-down.svg"
                alt="arrow-down"
                width="24"
                height="24"
              /></span></button>
          <ul class="panel">
      <li>
        <label for="hybrid" class="custom-checkbox">
          <input type="checkbox" name="hybrid" id="hybrid" />
          <span class="checkbox"></span>
          Hybrid
        </label>
      </li>
      <li>
        <label for="open-pollinated" class="custom-checkbox">
          <input type="checkbox" name="open-pollinated" id="open-pollinated" />
          <span class="checkbox"></span>
          Open Pollinated
        </label>
      </li>
      <li>
        <label for="organic-seeds" class="custom-checkbox">
          <input type="checkbox" name="organic-seeds" id="organic-seeds" />
          <span class="checkbox"></span>
          <p>Organic Seeds, Plants, and Supplies</p>
        </label>
      </li>
      <li>
        <label for="pelleted-seed" class="custom-checkbox">
          <input type="checkbox" name="pelleted-seed" id="pelleted-seed" />
          <span class="checkbox"></span>
          Pelleted Seed
        </label>
      </li>
    </ul>
        </div>
      </div>

        <ul class="catalog-product__list" id="catalog-product__list">
            
        </ul>

    </div>
  </div>
</section>