<section class="catalog__product-list">
  <div class="container">
    <div class="list__wrapper catalog__wrapper">
      <div class="list__filter filter">
        <h3 class="filter--title">FILTERS</h3>

        <div class="filter__item">
          <button class="filter__accordion accordion">Seed type
            <span class="filter__arrow arrow">
              <img
                src="/src/assets/images/icons/arrow-down.svg"
                alt="arrow-down"
                width="24"
                height="24"
              />
            </span>
          </button>

          <ul class="filter__menu">
            <li class="filter__menu--item">
              <label for="hybrid" class="custom-checkbox">
                <input type="checkbox" name="hybrid" id="hybrid" />
                <span class="checkbox"></span>
                Hybrid
              </label>
            </li>
            <li class="filter__menu--item">
              <label for="open-pollinated" class="custom-checkbox">
                <input
                  type="checkbox"
                  name="open-pollinated"
                  id="open-pollinated"
                />
                <span class="checkbox"></span>
                Open Pollinated
              </label>
            </li>
            <li class="filter__menu--item">
              <label for="organic-seeds" class="custom-checkbox">
                <input
                  type="checkbox"
                  name="organic-seeds"
                  id="organic-seeds"
                />
                <span class="checkbox"></span>
                Organic Seeds, Plants, <br> and Supplies
              </label>
            </li>
            <li class="filter__menu--item">
              <label for="pelleted-seed" class="custom-checkbox">
                <input
                  type="checkbox"
                  name="pelleted-seed"
                  id="pelleted-seed"
                />
                <span class="checkbox"></span>
                Pelleted Seed
              </label>
            </li>
          </ul>
        </div>

        <div class="filter__item">
          <button class="filter__accordion accordion">Featured
            <span class="filter__arrow arrow">
              <img
                src="/src/assets/images/icons/arrow-down.svg"
                alt="arrow-down"
                width="24"
                height="24"
              />
            </span>
          </button>
          
          <ul class="filter__menu">
            <li class="filter__menu--item">
              <label for="hybrid-featured" class="custom-checkbox">
                <input
                  type="checkbox"
                  name="hybrid-featured"
                  id="hybrid-featured"
                />
                <span class="checkbox"></span>
                Hybrid
              </label>
            </li>
            <li class="filter__menu--item">
              <label for="open-pollinated-featured" class="custom-checkbox">
                <input
                  type="checkbox"
                  name="open-pollinated-featured"
                  id="open-pollinated-featured"
                />
                <span class="checkbox"></span>
                Open Pollinated
              </label>
            </li>
            <li class="filter__menu--item">
              <label for="organic-seeds-featured" class="custom-checkbox">
                <input
                  type="checkbox"
                  name="organic-seeds-featured"
                  id="organic-seeds-featured"
                />
                <span class="checkbox"></span>
                Organic Seeds, Plants, and Supplies
              </label>
            </li>
            <li class="filter__menu--item">
              <label for="pelleted-seed-featured" class="custom-checkbox">
                <input
                  type="checkbox"
                  name="pelleted-seed-featured"
                  id="pelleted-seed-featured"
                />
                <span class="checkbox"></span>
                Pelleted Seed
              </label>
            </li>
          </ul>
        </div>

        <div class="filter__item">
          <button class="filter__accordion accordion">Growing Conditions
            <span class="filter__arrow arrow">
              <img
                src="/src/assets/images/icons/arrow-down.svg"
                alt="arrow-down"
                width="24"
                height="24"
              />
            </span>
          </button>
          <ul class="filter__menu">
            <li class="filter__menu--item">
              <label for="hybrid-growing" class="custom-checkbox">
                <input
                  type="checkbox"
                  name="hybrid-growing"
                  id="hybrid-growing"
                />
                <span class="checkbox"></span>
                Hybrid
              </label>
            </li>
            <li class="filter__menu--item">
              <label for="open-pollinated-growing" class="custom-checkbox">
                <input
                  type="checkbox"
                  name="open-pollinated-growing"
                  id="open-pollinated-growing"
                />
                <span class="checkbox"></span>
                Open Pollinated
              </label>
            </li>
            <li class="filter__menu--item">
              <label for="organic-seeds-growing" class="custom-checkbox">
                <input
                  type="checkbox"
                  name="organic-seeds-growing"
                  id="organic-seeds-growing"
                />
                <span class="checkbox"></span>
                Organic Seeds, Plants, and Supplies
              </label>
            </li>
            <li class="filter__menu--item">
              <label for="pelleted-seed-growing" class="custom-checkbox">
                <input
                  type="checkbox"
                  name="pelleted-seed-growing"
                  id="pelleted-seed-growing"
                />
                <span class="checkbox"></span>
                Pelleted Seed
              </label>
            </li>
          </ul>
        </div>

        <div class="filter__item">
          <button class="filter__accordion accordion">Price
            <span class="filter__arrow arrow">
              <img
                src="/src/assets/images/icons/arrow-down.svg"
                alt="arrow-down"
                width="24"
                height="24"
              />
            </span>
          </button>
          <div class="filter__menu price-filter">
            <div class="price-filter__title">
              <h3 class="title-from">From</h3>
              <h3 class="title-to">To</h3>
            </div>
            <div class="price-inputs">
              <input type="text" id="price-from" placeholder="$1232" />
              <span>
                <img src="/src/assets/images/icons/minus-gray.svg" alt="" />
              </span>
              <input type="text" id="price-to" placeholder="" />
            </div>
            <div class="slider-container">
              <input
                type="range"
                id="styled-range"
                min="0"
                max="100"
                value="50"
              />
            </div>
          </div>
        </div>

        <div class="filter__item">
          <button class="filter__accordion accordion">Use
            <span class="filter__arrow arrow">
              <img
                src="/src/assets/images/icons/arrow-down.svg"
                alt="arrow-down"
                width="24"
                height="24"
              />
            </span>
          </button>
          <ul class="filter__menu">
            <li class="filter__menu--item">
              <label for="hybrid-use" class="custom-checkbox">
                <input type="checkbox" name="hybrid-use" id="hybrid-use" />
                <span class="checkbox"></span>
                Hybrid
              </label>
            </li>
            <li class="filter__menu--item">
              <label for="open-pollinated-use" class="custom-checkbox">
                <input
                  type="checkbox"
                  name="open-pollinated-use"
                  id="open-pollinated-use"
                />
                <span class="checkbox"></span>
                Open Pollinated
              </label>
            </li>
            <li class="filter__menu--item">
              <label for="organic-seeds-use" class="custom-checkbox">
                <input
                  type="checkbox"
                  name="organic-seeds-use"
                  id="organic-seeds-use"
                />
                <span class="checkbox"></span>
                Organic Seeds, Plants, and Supplies
              </label>
            </li>
            <li class="filter__menu--item">
              <label for="pelleted-seed-use" class="custom-checkbox">
                <input
                  type="checkbox"
                  name="pelleted-seed-use"
                  id="pelleted-seed-use"
                />
                <span class="checkbox"></span>
                Pelleted Seed
              </label>
            </li>
          </ul>
        </div>

        <div class="filter__item">
          <button class="filter__accordion accordion">Additional Characteristic
            <span class="filter__arrow arrow">
              <img
                src="/src/assets/images/icons/arrow-down.svg"
                alt="arrow-down"
                width="24"
                height="24"
              />
            </span>
          </button>
          <ul class="filter__menu">
            <li class="filter__menu--item">
              <label for="hybrid-additional" class="custom-checkbox">
                <input
                  type="checkbox"
                  name="hybrid-additional"
                  id="hybrid-additional"
                />
                <span class="checkbox"></span>
                Hybrid
              </label>
            </li>
            <li class="filter__menu--item">
              <label for="open-pollinated-additional" class="custom-checkbox">
                <input
                  type="checkbox"
                  name="open-pollinated-additional"
                  id="open-pollinated-additional"
                />
                <span class="checkbox"></span>
                Open Pollinated
              </label>
            </li>
            <li class="filter__menu--item">
              <label for="organic-seeds-additional" class="custom-checkbox">
                <input
                  type="checkbox"
                  name="organic-seeds-additional"
                  id="organic-seeds-additional"
                />
                <span class="checkbox"></span>
                Organic Seeds, Plants, and Supplies
              </label>
            </li>
            <li class="filter__menu--item">
              <label for="pelleted-seed-additional" class="custom-checkbox">
                <input
                  type="checkbox"
                  name="pelleted-seed-additional"
                  id="pelleted-seed-additional"
                />
                <span class="checkbox"></span>
                Pelleted Seed
              </label>
            </li>
          </ul>
        </div>

      </div>
      <ul class="catalog-product__list" id="catalog-product__list">

      </ul>
    </div>
  </div>
</section>