<section class="search">
  <div class="container">
    <div class="search__container">
      <div class="search__block">
        <div class="search-box">
          <form action="#" class="filter-box__form search__form">
            <button class="search-form__btn" aria-label="Search" type="submit">
              <img
                src="/src/assets/images/icons/icon_search.svg"
                alt="search"
                class="svg-search"
                width="24px"
                height="24px"
              />
            </button>
            <input
              autocomplete="off"
              type="text"
              name="form[]"
              data-value="Search"
              placeholder="Search"
              class="search-form__input"
            />
            <div class="search-form__filter">
              <img
                class="svg-seatch-filter"
                alt="filter"
                src="/src/assets/images/icons/icon_search_filter.svg"
                width="18"
                height="18"
                alt="mob__filter"
              />
            </div>
          </form>

          {{! popup-filter tablet/mobile }}
          <div id="filter-popup" class="filter-popup">
            <div class="filter-popup__content">
              <span class="filter-popup__close">&times;</span>
              <div class="popup__list filter__popup">
                <h3 class="filter-popup__title">FILTERS</h3>

                <div class="filter-popup__item">
                  <button class="filter-popup__accordion popup-accordion">Seed
                    type
                    <span class="filter-popup__arrow popup-arrow">
                      <img
                        src="/src/assets/images/icons/arrow-down.svg"
                        alt="arrow-down"
                        width="24"
                        height="24"
                      />
                    </span>
                  </button>
                  <ul class="filter-popup__menu">
                    <li class="filter-popup__menu-item">
                      <label for="popup-hybrid" class="popup-checkbox">
                        <input
                          type="checkbox"
                          name="popup-hybrid"
                          id="popup-hybrid"
                        />
                        <span class="checkbox"></span>
                        Hybrid
                      </label>
                    </li>
                    <li class="filter-popup__menu-item">
                      <label for="popup-open-pollinated" class="popup-checkbox">
                        <input
                          type="checkbox"
                          name="popup-open-pollinated"
                          id="popup-open-pollinated"
                        />
                        <span class="checkbox"></span>
                        Open Pollinated
                      </label>
                    </li>
                    <li class="filter-popup__menu-item">
                      <label for="popup-organic-seeds" class="popup-checkbox">
                        <input
                          type="checkbox"
                          name="popup-organic-seeds"
                          id="popup-organic-seeds"
                        />
                        <span class="checkbox"></span>
                        Organic Seeds, Plants,
                        <br />
                        and Supplies
                      </label>
                    </li>
                    <li class="filter-popup__menu-item">
                      <label for="popup-pelleted-seed" class="popup-checkbox">
                        <input
                          type="checkbox"
                          name="popup-pelleted-seed"
                          id="popup-pelleted-seed"
                        />
                        <span class="checkbox"></span>
                        Pelleted Seed
                      </label>
                    </li>
                  </ul>
                </div>

                <div class="filter-popup__item">
                  <button
                    class="filter-popup__accordion popup-accordion"
                  >Featured
                    <span class="filter-popup__arrow popup-arrow">
                      <img
                        src="/src/assets/images/icons/arrow-down.svg"
                        alt="arrow-down"
                        width="24"
                        height="24"
                      />
                    </span>
                  </button>
                  <ul class="filter-popup__menu">
                    <li class="filter-popup__menu-item">
                      <label for="popup-hybrid-featured" class="popup-checkbox">
                        <input
                          type="checkbox"
                          name="popup-hybrid-featured"
                          id="popup-hybrid-featured"
                        />
                        <span class="checkbox"></span>
                        Hybrid
                      </label>
                    </li>
                    <li class="filter-popup__menu-item">
                      <label
                        for="popup-open-pollinated-featured"
                        class="popup-checkbox"
                      >
                        <input
                          type="checkbox"
                          name="popup-open-pollinated-featured"
                          id="popup-open-pollinated-featured"
                        />
                        <span class="checkbox"></span>
                        Open Pollinated
                      </label>
                    </li>
                    <li class="filter-popup__menu-item">
                      <label
                        for="popup-organic-seeds-featured"
                        class="popup-checkbox"
                      >
                        <input
                          type="checkbox"
                          name="popup-organic-seeds-featured"
                          id="popup-organic-seeds-featured"
                        />
                        <span class="checkbox"></span>
                        Organic Seeds, Plants, and Supplies
                      </label>
                    </li>
                    <li class="filter-popup__menu-item">
                      <label
                        for="popup-pelleted-seed-featured"
                        class="popup-checkbox"
                      >
                        <input
                          type="checkbox"
                          name="popup-pelleted-seed-featured"
                          id="popup-pelleted-seed-featured"
                        />
                        <span class="checkbox"></span>
                        Pelleted Seed
                      </label>
                    </li>
                  </ul>
                </div>

                <div class="filter-popup__item">
                  <button
                    class="filter-popup__accordion popup-accordion"
                  >Growing Conditions
                    <span class="filter-popup__arrow popup-arrow">
                      <img
                        src="/src/assets/images/icons/arrow-down.svg"
                        alt="arrow-down"
                        width="24"
                        height="24"
                      />
                    </span>
                  </button>
                  <ul class="filter-popup__menu">
                    <li class="filter-popup__menu-item">
                      <label for="popup-hybrid-growing" class="popup-checkbox">
                        <input
                          type="checkbox"
                          name="popup-hybrid-growing"
                          id="popup-hybrid-growing"
                        />
                        <span class="checkbox"></span>
                        Hybrid
                      </label>
                    </li>
                    <li class="filter-popup__menu-item">
                      <label
                        for="popup-open-pollinated-growing"
                        class="popup-checkbox"
                      >
                        <input
                          type="checkbox"
                          name="popup-open-pollinated-growing"
                          id="popup-open-pollinated-growing"
                        />
                        <span class="checkbox"></span>
                        Open Pollinated
                      </label>
                    </li>
                    <li class="filter-popup__menu-item">
                      <label
                        for="popup-organic-seeds-growing"
                        class="popup-checkbox"
                      >
                        <input
                          type="checkbox"
                          name="popup-organic-seeds-growing"
                          id="popup-organic-seeds-growing"
                        />
                        <span class="checkbox"></span>
                        Organic Seeds, Plants, and Supplies
                      </label>
                    </li>
                    <li class="filter-popup__menu-item">
                      <label
                        for="popup-pelleted-seed-growing"
                        class="popup-checkbox"
                      >
                        <input
                          type="checkbox"
                          name="popup-pelleted-seed-growing"
                          id="popup-pelleted-seed-growing"
                        />
                        <span class="checkbox"></span>
                        Pelleted Seed
                      </label>
                    </li>
                  </ul>
                </div>

                <div class="filter-popup__item">
                  <button class="filter-popup__accordion popup-accordion">Price
                    <span class="filter-popup__arrow popup-arrow">
                      <img
                        src="/src/assets/images/icons/arrow-down.svg"
                        alt="arrow-down"
                        width="24"
                        height="24"
                      />
                    </span>
                  </button>
                  <div class="filter-popup__menu popup-price-filter">
                    <div class="popup-price-filter__title">
                      <h3 class="title-from">From</h3>
                      <h3 class="title-to">To</h3>
                    </div>
                    <div class="popup-price-inputs">
                      <input
                        type="text"
                        id="popup-price-from"
                        placeholder="$1232"
                      />
                      <span>
                        <img
                          src="/src/assets/images/icons/minus-gray.svg"
                          alt="line"
                          width="24"
                          height="24"
                        />
                      </span>
                      <input type="text" id="popup-price-to" placeholder="" />
                    </div>
                    <div class="popup-slider-container">
                      <input
                        type="range"
                        id="popup-styled-range"
                        min="0"
                        max="100"
                        value="50"
                      />
                    </div>
                  </div>
                </div>

                <div class="filter-popup__item">
                  <button class="filter-popup__accordion popup-accordion">Use
                    <span class="filter-popup__arrow popup-arrow">
                      <img
                        src="/src/assets/images/icons/arrow-down.svg"
                        alt="arrow-down"
                        width="24"
                        height="24"
                      />
                    </span>
                  </button>
                  <ul class="filter-popup__menu">
                    <li class="filter-popup__menu-item">
                      <label for="popup-hybrid-use" class="popup-checkbox">
                        <input
                          type="checkbox"
                          name="popup-hybrid-use"
                          id="popup-hybrid-use"
                        />
                        <span class="checkbox"></span>
                        Hybrid
                      </label>
                    </li>
                    <li class="filter-popup__menu-item">
                      <label
                        for="popup-open-pollinated-use"
                        class="popup-checkbox"
                      >
                        <input
                          type="checkbox"
                          name="popup-open-pollinated-use"
                          id="popup-open-pollinated-use"
                        />
                        <span class="checkbox"></span>
                        Open Pollinated
                      </label>
                    </li>
                    <li class="filter-popup__menu-item">
                      <label
                        for="popup-organic-seeds-use"
                        class="popup-checkbox"
                      >
                        <input
                          type="checkbox"
                          name="popup-organic-seeds-use"
                          id="popup-organic-seeds-use"
                        />
                        <span class="checkbox"></span>
                        Organic Seeds, Plants, and Supplies
                      </label>
                    </li>
                    <li class="filter-popup__menu-item">
                      <label
                        for="popup-pelleted-seed-use"
                        class="popup-checkbox"
                      >
                        <input
                          type="checkbox"
                          name="popup-pelleted-seed-use"
                          id="popup-pelleted-seed-use"
                        />
                        <span class="checkbox"></span>
                        Pelleted Seed
                      </label>
                    </li>
                  </ul>
                </div>

                <div class="filter-popup__item">
                  <button
                    class="filter-popup__accordion popup-accordion"
                  >Additional Characteristic
                    <span class="filter-popup__arrow popup-arrow">
                      <img
                        src="/src/assets/images/icons/arrow-down.svg"
                        alt="arrow-down"
                        width="24"
                        height="24"
                      />
                    </span>
                  </button>
                  <ul class="filter-popup__menu">
                    <li class="filter-popup__menu-item">
                      <label
                        for="popup-hybrid-characteristic"
                        class="popup-checkbox"
                      >
                        <input
                          type="checkbox"
                          name="popup-hybrid-characteristic"
                          id="popup-hybrid-characteristic"
                        />
                        <span class="checkbox"></span>
                        Hybrid
                      </label>
                    </li>
                    <li class="filter-popup__menu-item">
                      <label
                        for="popup-open-pollinated-characteristic"
                        class="popup-checkbox"
                      >
                        <input
                          type="checkbox"
                          name="popup-open-pollinated-characteristic"
                          id="popup-open-pollinated-characteristic"
                        />
                        <span class="checkbox"></span>
                        Open Pollinated
                      </label>
                    </li>
                    <li class="filter-popup__menu-item">
                      <label
                        for="popup-organic-seeds-characteristic"
                        class="popup-checkbox"
                      >
                        <input
                          type="checkbox"
                          name="popup-organic-seeds-characteristic"
                          id="popup-organic-seeds-characteristic"
                        />
                        <span class="checkbox"></span>
                        Organic Seeds, Plants, and Supplies
                      </label>
                    </li>
                    <li class="filter-popup__menu-item">
                      <label
                        for="popup-pelleted-seed-characteristic"
                        class="popup-checkbox"
                      >
                        <input
                          type="checkbox"
                          name="popup-pelleted-seed-characteristic"
                          id="popup-pelleted-seed-characteristic"
                        />
                        <span class="checkbox"></span>
                        Pelleted Seed
                      </label>
                    </li>
                  </ul>
                </div>
              </div>

            </div>
          </div>

          <div class="select select_form" data-id="1">
            <select
              name="form[]"
              data-class-modif="form"
              hidden=""
              data-id="1"
              data-speed="150"
            >
              <option value="1" selected="">Most expensive</option>
              <option value="2">The cheapest</option>
              <option value="3">By popularity</option>
              <option value="4">Our recommendation</option>
            </select>

            <div class="select__body">
              <button type="button" class="select__title">
                <span class="select__value">
                  <span class="select__label">Sort by</span>
                  <span class="select__content">Most expensive</span>
                </span>
              </button>

              <div class="select__options" hidden="">
                <div class="select__scroll">
                  <button
                    class="select__option"
                    data-value="1"
                    type="button"
                  >Most expensive</button>
                  <button
                    class="select__option"
                    data-value="2"
                    type="button"
                  >The cheapest</button>
                  <button class="select__option" data-value="3" type="button">By
                    popularity</button>
                  <button
                    class="select__option"
                    data-value="4"
                    type="button"
                  >Our recommendation</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>