<section class="search">
  <div class="container">
    <div class="search__container">
      <div class="search__block">
        <div class="search-box">
          <form action="#" class="filter-box__form search__form">
            <button class="search-form__btn" aria-label="Search" type="submit">
              <img
                src="/src/assets/images/icons/icon_search.svg"
                alt="search"
                class="svg-search"
                width="24px"
                height="24px"
              />
            </button>
            <input
              autocomplete="off"
              type="text"
              name="form[]"
              data-value="Search"
              placeholder="Search"
              class="search-form__input"
            />
            <div class="search-form__filter">
              <img
                class="svg-seatch-filter"
                src="/src/assets/images/icons/icon_search_filter.svg"
                width="18"
                height="18"
                alt="mob__filter"
              />
            </div>
          </form>

          {{! popup-filter tablet/mobile }}
          <div id="filter-popup" class="filter-popup">
            <div class="filter-popup__content">
              <span class="filter-popup__close">&times;</span>
              <div class="filter-popup__filter filter__popup">
                <h3 class="filter__popup__title">FILTERS</h3>

                <div class="filter__popup__item">
                  <button class="filter__popup__accordion">Seed type
                    <span class="filter__popup__arrow arrow">
                      <img
                        src="/src/assets/images/icons/arrow-down.svg"
                        alt="arrow-down"
                        width="24"
                        height="24"
                      />
                    </span>
                  </button>
                  <ul class="filter__popup__menu">
                    <li class="filter__popup__menu--item">
                      <label for="seed-type-hybrid" class="custom-checkbox">
                        <input
                          type="checkbox"
                          name="seed-type-hybrid"
                          id="seed-type-hybrid"
                        />
                        <span class="checkbox"></span>
                        Hybrid
                      </label>
                    </li>
                    <li class="filter__popup__menu--item">
                      <label
                        for="seed-type-open-pollinated"
                        class="custom-checkbox"
                      >
                        <input
                          type="checkbox"
                          name="seed-type-open-pollinated"
                          id="seed-type-open-pollinated"
                        />
                        <span class="checkbox"></span>
                        Open Pollinated
                      </label>
                    </li>
                    <li class="filter__popup__menu--item">
                      <label
                        for="seed-type-organic-seeds"
                        class="custom-checkbox"
                      >
                        <input
                          type="checkbox"
                          name="seed-type-organic-seeds"
                          id="seed-type-organic-seeds"
                        />
                        <span class="checkbox"></span>
                        Organic Seeds, Plants, and Supplies
                      </label>
                    </li>
                    <li class="filter__popup__menu--item">
                      <label
                        for="seed-type-pelleted-seed"
                        class="custom-checkbox"
                      >
                        <input
                          type="checkbox"
                          name="seed-type-pelleted-seed"
                          id="seed-type-pelleted-seed"
                        />
                        <span class="checkbox"></span>
                        Pelleted Seed
                      </label>
                    </li>
                  </ul>
                </div>

                <div class="filter__popup__item">
                  <button class="filter__popup__accordion">Featured
                    <span class="filter__popup__arrow arrow">
                      <img
                        src="/src/assets/images/icons/arrow-down.svg"
                        alt="arrow-down"
                        width="24"
                        height="24"
                      />
                    </span>
                  </button>
                  <ul class="filter__popup__menu">
                    <li class="filter__popup__menu--item">
                      <label for="featured-hybrid" class="custom-checkbox">
                        <input
                          type="checkbox"
                          name="featured-hybrid"
                          id="featured-hybrid"
                        />
                        <span class="checkbox"></span>
                        Hybrid
                      </label>
                    </li>
                    <li class="filter__popup__menu--item">
                      <label
                        for="featured-open-pollinated"
                        class="custom-checkbox"
                      >
                        <input
                          type="checkbox"
                          name="featured-open-pollinated"
                          id="featured-open-pollinated"
                        />
                        <span class="checkbox"></span>
                        Open Pollinated
                      </label>
                    </li>
                    <li class="filter__popup__menu--item">
                      <label
                        for="featured-organic-seeds"
                        class="custom-checkbox"
                      >
                        <input
                          type="checkbox"
                          name="featured-organic-seeds"
                          id="featured-organic-seeds"
                        />
                        <span class="checkbox"></span>
                        Organic Seeds, Plants, and Supplies
                      </label>
                    </li>
                    <li class="filter__popup__menu--item">
                      <label
                        for="featured-pelleted-seed"
                        class="custom-checkbox"
                      >
                        <input
                          type="checkbox"
                          name="featured-pelleted-seed"
                          id="featured-pelleted-seed"
                        />
                        <span class="checkbox"></span>
                        Pelleted Seed
                      </label>
                    </li>
                  </ul>
                </div>

                <div class="filter__popup__item">
                  <button class="filter__popup__accordion">Growing Conditions
                    <span class="filter__popup__arrow arrow">
                      <img
                        src="/src/assets/images/icons/arrow-down.svg"
                        alt="arrow-down"
                        width="24"
                        height="24"
                      />
                    </span>
                  </button>
                  <ul class="filter__popup__menu">
                    <li class="filter__popup__menu--item">
                      <label for="growing-hybrid" class="custom-checkbox">
                        <input
                          type="checkbox"
                          name="growing-hybrid"
                          id="growing-hybrid"
                        />
                        <span class="checkbox"></span>
                        Hybrid
                      </label>
                    </li>
                    <li class="filter__popup__menu--item">
                      <label
                        for="growing-open-pollinated"
                        class="custom-checkbox"
                      >
                        <input
                          type="checkbox"
                          name="growing-open-pollinated"
                          id="growing-open-pollinated"
                        />
                        <span class="checkbox"></span>
                        Open Pollinated
                      </label>
                    </li>
                    <li class="filter__popup__menu--item">
                      <label
                        for="growing-organic-seeds"
                        class="custom-checkbox"
                      >
                        <input
                          type="checkbox"
                          name="growing-organic-seeds"
                          id="growing-organic-seeds"
                        />
                        <span class="checkbox"></span>
                        Organic Seeds, Plants, and Supplies
                      </label>
                    </li>
                    <li class="filter__popup__menu--item">
                      <label
                        for="growing-pelleted-seed"
                        class="custom-checkbox"
                      >
                        <input
                          type="checkbox"
                          name="growing-pelleted-seed"
                          id="growing-pelleted-seed"
                        />
                        <span class="checkbox"></span>
                        Pelleted Seed
                      </label>
                    </li>
                  </ul>
                </div>

                <div class="filter__item">
                  <button class="filter__accordion accordion">Price
                    <span class="filter__arrow arrow">
                      <img
                        src="/src/assets/images/icons/arrow-down.svg"
                        alt="arrow-down"
                        width="24"
                        height="24"
                      />
                    </span>
                  </button>
                  <div class="filter__menu popup__price-filter">
                    <div class="price-filter__title">
                      <h3 class="title-from">From</h3>
                      <h3 class="title-to">To</h3>
                    </div>
                    <div class="popup__price-inputs">
                      <input
                        class="popup__price-input"
                        type="text"
                        id="price-from"
                        placeholder="$1232"
                      />
                      <span>
                        <img
                          src="/src/assets/images/icons/minus-gray.svg"
                          alt=""
                        />
                      </span>
                      <input
                        class="popup__price-input"
                        type="text"
                        id="price-to"
                        placeholder=""
                      />
                    </div>
                    <div class="slider-container">
                      <input
                        type="range"
                        id="styled-range"
                        min="0"
                        max="100"
                        value="50"
                      />
                    </div>
                  </div>
                </div>

                <div class="filter__popup__item">
                  <button class="filter__popup__accordion">Use
                    <span class="filter__popup__arrow arrow">
                      <img
                        src="/src/assets/images/icons/arrow-down.svg"
                        alt="arrow-down"
                        width="24"
                        height="24"
                      />
                    </span>
                  </button>
                  <ul class="filter__popup__menu">
                    <li class="filter__popup__menu--item">
                      <label for="use-hybrid" class="custom-checkbox">
                        <input
                          type="checkbox"
                          name="use-hybrid"
                          id="use-hybrid"
                        />
                        <span class="checkbox"></span>
                        Hybrid
                      </label>
                    </li>
                    <li class="filter__popup__menu--item">
                      <label for="use-open-pollinated" class="custom-checkbox">
                        <input
                          type="checkbox"
                          name="use-open-pollinated"
                          id="use-open-pollinated"
                        />
                        <span class="checkbox"></span>
                        Open Pollinated
                      </label>
                    </li>
                    <li class="filter__popup__menu--item">
                      <label for="use-organic-seeds" class="custom-checkbox">
                        <input
                          type="checkbox"
                          name="use-organic-seeds"
                          id="use-organic-seeds"
                        />
                        <span class="checkbox"></span>
                        Organic Seeds, Plants, and Supplies
                      </label>
                    </li>
                    <li class="filter__popup__menu--item">
                      <label for="use-pelleted-seed" class="custom-checkbox">
                        <input
                          type="checkbox"
                          name="use-pelleted-seed"
                          id="use-pelleted-seed"
                        />
                        <span class="checkbox"></span>
                        Pelleted Seed
                      </label>
                    </li>
                  </ul>
                </div>

                <div class="filter__popup__item">
                  <button class="filter__popup__accordion">Additional
                    Characteristic
                    <span class="filter__popup__arrow arrow">
                      <img
                        src="/src/assets/images/icons/arrow-down.svg"
                        alt="arrow-down"
                        width="24"
                        height="24"
                      />
                    </span>
                  </button>
                  <ul class="filter__popup__menu">
                    <li class="filter__popup__menu--item">
                      <label for="additional-hybrid" class="custom-checkbox">
                        <input
                          type="checkbox"
                          name="additional-hybrid"
                          id="additional-hybrid"
                        />
                        <span class="checkbox"></span>
                        Hybrid
                      </label>
                    </li>
                    <li class="filter__popup__menu--item">
                      <label
                        for="additional-open-pollinated"
                        class="custom-checkbox"
                      >
                        <input
                          type="checkbox"
                          name="additional-open-pollinated"
                          id="additional-open-pollinated"
                        />
                        <span class="checkbox"></span>
                        Open Pollinated
                      </label>
                    </li>
                    <li class="filter__popup__menu--item">
                      <label
                        for="additional-organic-seeds"
                        class="custom-checkbox"
                      >
                        <input
                          type="checkbox"
                          name="additional-organic-seeds"
                          id="additional-organic-seeds"
                        />
                        <span class="checkbox"></span>
                        Organic Seeds, Plants, and Supplies
                      </label>
                    </li>
                    <li class="filter__popup__menu--item">
                      <label
                        for="additional-pelleted-seed"
                        class="custom-checkbox"
                      >
                        <input
                          type="checkbox"
                          name="additional-pelleted-seed"
                          id="additional-pelleted-seed"
                        />
                        <span class="checkbox"></span>
                        Pelleted Seed
                      </label>
                    </li>
                  </ul>
                </div>
              </div>

            </div>
          </div>

          <div class="select select_form" data-id="1">
            <select
              name="form[]"
              data-class-modif="form"
              hidden=""
              data-id="1"
              data-speed="150"
            >
              <option value="1" selected="">Most expensive</option>
              <option value="2">The cheapest</option>
              <option value="3">By popularity</option>
              <option value="4">Our recommendation</option>
            </select>

            <div class="select__body">
              <button type="button" class="select__title">
                <span class="select__value">
                  <span class="select__label">Sort by</span>
                  <span class="select__content">Most expensive</span>
                </span>
              </button>

              <div class="select__options" hidden="">
                <div class="select__scroll">
                  <button
                    class="select__option"
                    data-value="1"
                    type="button"
                  >Most expensive</button>
                  <button
                    class="select__option"
                    data-value="2"
                    type="button"
                  >The cheapest</button>
                  <button class="select__option" data-value="3" type="button">By
                    popularity</button>
                  <button
                    class="select__option"
                    data-value="4"
                    type="button"
                  >Our recommendation</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>