<section class="search">
  <div class="container">
    <div class="search__container">
      <div class="search__block">
        <div class="search-box">
          <form action="#" class="filter-box__form search__form">
            <button class="search-form__btn" aria-label="Search" type="submit">
              <img
                src="/src/assets/images/icons/icon_search.svg"
                alt="search"
                class="svg-search"
                width="24px"
                height="24px"
              />
            </button>
            <input
              autocomplete="off"
              type="text"
              name="form[]"
              data-value="Search"
              placeholder="Search"
              class="search-form__input"
            />
            <div class="search-form__filter">
              <img
                class="svg-seatch-filter"
                src="/src/assets/images/icons/icon_search_filter.svg"
              />
            </div>
          </form>

          <div class="select select_form" data-id="1">
            <select
              name="form[]"
              data-class-modif="form"
              hidden=""
              data-id="1"
              data-speed="150"
            >
              <option value="1" selected="">Most expensive</option>
              <option value="2">The cheapest</option>
              <option value="3">By popularity</option>
              <option value="4">Our recommendation</option>
            </select>
            <div class="select__body">
              <button type="button" class="select__title">
                <span class="select__value">
                  <span class="select__label">Sort by</span>
                  <span class="select__content">Most expensive</span>
                </span>
              </button>
              <div class="select__options" hidden="">
                <div class="select__scroll">
                  <button
                    class="select__option"
                    data-value="1"
                    type="button"
                  >Most expensive</button>
                  <button
                    class="select__option"
                    data-value="2"
                    type="button"
                  >The cheapest</button>
                  <button class="select__option" data-value="3" type="button">By
                    popularity</button>
                  <button
                    class="select__option"
                    data-value="4"
                    type="button"
                  >Our recommendation</button>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="store__buttons filter__buttons">
							<button data-filter="all" type="button" class="filter__btn button button-product active" aria-label="Button product">
								<img src="/src/assets/images/icons/all-product-icon.svg" class="svg-copy" alt="all-products" width="28" height="28">
								<span>ALL</span>
							</button>
							<button data-filter=".bundles" type="button" class="filter__btn button button-product" aria-label="Button product">
								<img src="/src/assets/images/icons/bundles-icon.svg" class="svg-copy" alt="bundles" width="28" height="28">
								<span>BUNDLES</span>
							</button>
							<button data-filter=".herbs" type="button" class="filter__btn button button-product" aria-label="Button product">
								<img src="/src/assets/images/icons/herbs-icon.svg" class="svg-copy" alt="herbs" width="28" height="28">
								<span>HERBS</span>
							</button>
							<button data-filter=".vegetables" type="button" class="filter__btn button button-product" aria-label="Button product">
								<img src="/src/assets/images/icons/vegetable-icon.svg" class="svg-copy" alt="vegetables" width="28" height="28">
								<span>VEGETABLES</span>
							</button>
							<button data-filter=".fruits" type="button" class="filter__btn button button-product" aria-label="Button product">
								<img src="/src/assets/images/icons/fruits-icon.svg" class="svg-copy" alt="fruit" width="28" height="28">
								<span>FRUITS</span>
							</button>
							<button data-filter=".supplies" type="button" class="filter__btn button button-product" aria-label="Button product">
								<img src="/src/assets/images/icons/supplies-icon.svg" class="svg-copy" alt="supplies" width="28" height="28">
								<span>SUPPLIES</span>
							</button>
							<button data-filter=".flowers" type="button" class="filter__btn button button-product" aria-label="Button product">
								<img src="/src/assets/images/icons/flower-icon.svg" class="svg-copy" alt="flowers" width="28" height="28">
								<span>FLOWERS</span>
							</button>
						</div>
      </div>
    </div>

  </div>
</section>


{{!-- <div class="store__button-holder"> текст для popup 
									<span class="store__button-title">Herbs</span>
									<ul class="store__button-list">
										<li><a class="store__button-link" href="#">Angelica</a></li>
										<li><a class="store__button-link" href="#">Calendula</a></li>
										<li><a class="store__button-link" href="#">Calendula</a></li>
										<li><a class="store__button-link" href="#">Anise</a></li>
										<li><a class="store__button-link" href="#">Caraway</a></li>
										<li><a class="store__button-link" href="#">Caraway</a></li>
										<li><a class="store__button-link" href="#">Anise Hyssop</a></li>
										<li><a class="store__button-link" href="#">Catmint</a></li>
										<li><a class="store__button-link" href="#">Catmint</a></li>
										<li><a class="store__button-link" href="#">Asclepias (Butterfly Weed)</a></li>
										<li><a class="store__button-link" href="#">Catnip</a></li>
										<li><a class="store__button-link" href="#">Catnip</a></li>
										<li><a class="store__button-link" href="#">Basil</a></li>
										<li><a class="store__button-link" href="#">Chamomile</a></li>
										<li><a class="store__button-link" href="#">Chamomile</a></li>
										<li><a class="store__button-link" href="#">Bee Balm</a></li>
										<li><a class="store__button-link" href="#">Chervil</a></li>
										<li><a class="store__button-link" href="#">Chervil</a></li>
										<li><a class="store__button-link" href="#">Borage</a></li>
									</ul>
									<a href="#" class="store__button-allbtn">View all Herbs</a>
								</div> --}}