<section class="search">
  <div class="container">
    <div class="search__container">
      <div class="search__block">
        <div class="search-box">
          <form action="#" class="filter-box__form search__form">
            <button class="search-form__btn" aria-label="Search" type="submit">
              <img
                src="/src/assets/images/icons/icon_search.svg"
                alt="search"
                class="svg-search"
                width="24"
                height="24"
              />
            </button>
            <input
              autocomplete="off"
              type="text"
              name="form[]"
              data-value="Search"
              placeholder="Search"
              class="search-form__input"
            />
            <div class="search-form__filter">
              <img
                class="svg-seatch-filter"
                alt="filter"
                src="/src/assets/images/icons/icon_search_filter.svg"
                width="18"
                height="18"
                alt="mob__filter"
              />
            </div>
          </form>
          {{!-- popup-filter tablet/mobile --}}
          <div id="filter-popup" class="filter-popup">
            <div class="filter-popup__content">
              <span class="filter-popup__close">&times;</span>
              <p>скоро будет</p>
            </div>
          </div>

          <div class="select select_form" data-id="1">
            <select
              name="form[]"
              data-class-modif="form"
              hidden=""
              data-id="1"
              data-speed="150"
            >
              <option value="1" selected="">Most expensive</option>
              <option value="2">The cheapest</option>
              <option value="3">By popularity</option>
              <option value="4">Our recommendation</option>
            </select>
            <div class="select__body">
              <button type="button" class="select__title">
                <span class="select__value">
                  <span class="select__label">Sort by</span>
                  <span class="select__content">Most expensive</span>
                </span>
              </button>
              <div class="select__options" hidden="">
                <div class="select__scroll">
                  <button
                    class="select__option"
                    data-value="1"
                    type="button"
                  >Most expensive</button>
                  <button
                    class="select__option"
                    data-value="2"
                    type="button"
                  >The cheapest</button>
                  <button class="select__option" data-value="3" type="button">By
                    popularity</button>
                  <button
                    class="select__option"
                    data-value="4"
                    type="button"
                  >Our recommendation</button>
                </div>
              </div>
            </div>
          </div>
        </div>
        
        <ul class="catalog__category-list" id="catalog-category-list">
        </ul>
      </div>
    </div>
  </div>
</section>
