%display-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

%display-jc-sb {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

%display-flex {
    display: flex;
    align-items: center;
}
%display-start {
    display: flex;
    align-items: center;
    justify-content: start;
}
%display-end {
    display: flex;
    align-items: center;
    justify-content: end;
}
%position-rel{
    position: relative;
}

%position-abs{
    position: absolute;
}
