$s-mobile: 374px;
$mobile: 575px;
$tablet: 767px;
$l-tablet: 1023px;
$lapTop: 1219px;
$desktop: 1499px;



@mixin respond-to($breakpoint) {
    @media only screen and (max-width: $breakpoint) {
        @content;
    }
}