.main-btn {
    padding: 11px 33px;
    background: rgba(53, 151, 64, 1);
    border-radius: 8px;
    color: rgba(255, 255, 255, 1);
    font-weight: 500;
    font-size: 16px;
    transition: background .3s;

    &:hover {
        background: rgba(43, 177, 89, 1);
    }

    &:active {
        background: rgba(79, 160, 131, 1);
    }
}


.secondary-btn {
    padding: 11px 33px;
    background: transparent;
    border-radius: 8px;
    color: rgba(53, 151, 64, 1);
    font-weight: 500;
    font-size: 16px;
    transition: background .3s;

    &:hover {
        background: rgba(53, 151, 64, 0.08);
    }

    &:active {
        background: rgba(79, 160, 131, 1);
        border: 1px solid rgba(53, 151, 64, 1);
    }
}


.cart-btn {
    border: 1px solid rgba(239, 239, 239, 1);
    border-radius: 8px;
    background: transparent;
    background-image: url(/src/assets/images/icons/icon_cart.svg);
    filter: brightness(0) saturate(100%) invert(43%) sepia(78%) saturate(395%) hue-rotate(76deg) brightness(95%) contrast(90%);
    background-repeat: no-repeat;
    background-position: center;
    width: 48px;
    height: 48px;
    transition: background .3s;

    &:hover {
        background: rgba(53, 151, 64, 0.08);
        background-image: url(/src/assets/images/icons/icon_cart.svg);
        background-repeat: no-repeat;
        background-position: center;
        border: none;
        filter: none;
    }

    &:active {
        background: rgba(79, 160, 131, 1);
        background-image: url(/src/assets/images/icons/icon_cart.svg);
        background-repeat: no-repeat;
        background-position: center;
        border: none;
        filter: none;
    }
}


.sections-title {
    font-size: 36px;
    font-weight: 600;
    color: $text-primary;

    // @include respond-to($mobile) {
    //     font-weight: 700;
    //     font-size: 18px;
    // }

}