@import "/src/scss/base/mixins.scss";

.main-btn {
  display: inline-block;
  padding: 14px 34px;
  background: rgba(53, 151, 64, 1);
  border-radius: 8px;
  color: rgba(255, 255, 255, 1);
  font-weight: 600;
  font-size: 16px;
  transition: background 0.3s;

  @media (hover: hover) {
    &:hover {
      background: rgba(43, 177, 89, 1);
    }
  }


  &:active {
    background: rgba(79, 160, 131, 1);
  }

  @include respond-to($tablet) {
    font-size: 14px;
  }
}

.secondary-btn {
  display: inline-block;
  padding: 14px 34px;
  background: $white;
  border-radius: 8px;
  color: rgba(53, 151, 64, 1);
  font-weight: 600;
  font-size: 16px;
  transition: background 0.3s;
  border: 1px solid transparent;

  @media (hover: hover) {
    &:hover {
      background: rgba(53, 151, 64, 0.08);
    }
  }

  &:active {
    background: rgba(79, 160, 131, 1);
    border: 1px solid rgba(53, 151, 64, 1);
  }

  @include respond-to($tablet) {
    font-size: 14px;
  }
}

.cart-btn {
  border: 1px solid rgba(239, 239, 239, 1);
  border-radius: 8px;
  background: transparent;
  background-image: url(/src/assets/images/icons/icon_cart.svg);
  filter: brightness(0) saturate(100%) invert(43%) sepia(78%) saturate(395%)
    hue-rotate(76deg) brightness(95%) contrast(90%);
  background-repeat: no-repeat;
  background-position: center;
  width: 48px;
  height: 48px;
  transition: background 0.3s;

  @media (hover: hover) {
    &:hover {
      background: rgba(53, 151, 64, 0.08);
      background-image: url(/src/assets/images/icons/icon_cart.svg);
      background-repeat: no-repeat;
      background-position: center;
      border: none;
      // filter: none;
    }
  }

  &:active {
    background: rgba(79, 160, 131, 1);
    background-image: url(/src/assets/images/icons/icon_cart.svg);
    background-repeat: no-repeat;
    background-position: center;
    border: none;
    filter: none;
  }

  &.active {
      background: rgba(79, 160, 131, 1);
      background-image: url(/src/assets/images/icons/icon_cart.svg);
      background-repeat: no-repeat;
      background-position: center;
      border: none;
      filter: none;
  }
   
}

.category-btn {
  @extend %display-jc-sb;
  padding: 22px 16px 22px 16px;
  border: 2px solid $light-gray-stroke;
  border-radius: 8px;
  cursor: pointer;
  text-transform: uppercase;

  img {
    margin: 0 4px 0 0;
  }

  @media (hover: hover) {
    &:hover {
      border: 2px solid $invisible-green;
    }
  }

  &:active {
    color: $green-brand;
    border: 2px solid $green-brand;
  }

   &.active {
       color: $green-brand;
       border: 2px solid $green-brand;
   }
}

.sections-title {
  font-size: 36px;
  font-weight: 600;
  color: $text-primary;

  @include respond-to($mobile) {
    font-weight: 700;
    font-size: 22px;
    line-height: 1.5;
  }
}


////select

.filter {
  .select {
    position: relative;
  }

  &__custom-select {
    position: relative;
    display: inline-block;
    width: 258px;
    background-color: white;
    border: 1px solid $light-gray-stroke;
    border-radius: 71px;
    padding: 29px 26px 9px 26px;
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
    z-index: 2;
  }

  &__select-selected {
    position: relative;
    z-index: 3;
  }

  &__sort-select {
    color: $text-secondary;
    position: absolute;
    z-index: 3;
    padding: 9px 20px;
  }

  &__custom-select.is-active .filter__select-items {
    display: block;
  }

  &__select-items {
    position: absolute;
    top: 35px;
    left: 50%;
    transform: translateX(-50%);
    border: 1px solid $light-gray-stroke;
    border-top: none;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
    width: 100%;
    z-index: 1;
    display: none;
    background: rgb(255,255,255, 1);
    padding: 25px 26px 12px 20px;

     &::before {
      content: "";
      width: 100%;
      height: 1px;
     background: $light-gray-stroke;
      position: absolute;
      top: 15px;
      left: 0;
    }
  }

  &__select-items div {
    padding: 8px 0;
    cursor: pointer;
    position: relative;


    &::after {
      content: "";
      width: 100%;
      height: 1px;
      background: $light-gray-stroke;
      opacity: 6%;
      position: absolute;
      bottom: 0;
      left: 0;
    }
  }

  &__select-items div:hover {
    color: $green-brand;
  }

  &__select-arrow {
    position: absolute;
    right: 30px;
    top: 50%;
    transform: translateY(-50%);
    pointer-events: none;
  }

  @include respond-to($mobile) {}
}

.select {
  position: relative;

  @include respond-to($mobile) {
    display: none;
  }
}
