$fontFamilyBase: "Lexend", sans-serif;
$fontWeightBase: 400;
$fontSizeBase: 14px;
$main-color: #FFFFFF;
$dark-color: #000000;

$background-color:gray;


$mobile: 359px;
$s-mobile: 425px;
$m-mobile: 560px;
$l-mobile: 630px;
$s-tablet: 695px;
$m-tablet: 730px;
$l-tablet: 767px;
$tablet: 768px;
$xm-tablet: 860px;
$xl-tablet: 920px;
$desktop: 992px;
$m-desktop: 1090px;
$l-desktop: 1290px;
$LapTop: 1440px;
$xl-LapTop: 1718px;
$xxl-LapTop: 1800px;


@mixin respond-to($breakpoint) {
    @media only screen and (max-width: $breakpoint) {
        @content;
    }
}

@mixin gray-line {
    content: "";
        width: 100%;
        height: 1px;
        background: $dark-color;
        opacity: 6%;
        position: absolute;
}


///////приклад використання
/// @include respond-to($xxl-LapTop) { }



// Минимальная ширина страницы
$minWidth: 420px;
// Ширина полотна (макета)
$maxWidth: 1440px;
// Ширина ограничивающего контейнера (0 = нет ограничения)
$maxWidthContainer: 1140px;
// Общий отступ у контейнера
// (300= по 150px слева и справа, 0 = нет отступа)
$containerPadding: 150;