$fontFamilyBase: "Lexend", sans-serif;
$fontWeightBase: 400;
$fontSizeBase: 14px;


$text-primary: rgba(31, 37, 51, 1);
$text-secondary: rgba(112, 115, 124, 1);
$white: rgba(255, 255, 255, 1);
$primary-color: rgba(79, 160, 131, 1);
$green-brand: rgba(53, 151, 64, 1);
$light-gray-stroke: rgba(239, 239, 239, 1);
$light-green: rgba(234, 241, 235, 1);
$yellow: rgba(255, 207, 85, 1);
$light-blue: rgba(239, 242, 248, 1);
$invisible-green: rgba(53, 151, 64, 0.08);
$danger: rgba(229, 92, 92, 1);
$hover: rgba(43, 177, 89, 1);







// Минимальная ширина страницы
$minWidth: 420px;
// Ширина полотна (макета)
$maxWidth: 1440px;
// Ширина ограничивающего контейнера (0 = нет ограничения)
$maxWidthContainer: 1140px;
// Общий отступ у контейнера
// (300= по 150px слева и справа, 0 = нет отступа)
$containerPadding: 150;