<footer class="footer">
  <div class="container">
    <div class="footer__body">
      <ul class="footer__menu">
        <li class="menu__item">
          <a href="/src/pages/catalog/catalog.html" class="menu__link">ALL
            PRODUCTS</a>
        </li>
        <li class="menu__item">
          <a href="/src/pages/card/card.html" class="menu__link">ABOUT SEEDRA</a>
        </li>
        <li class="menu__item">
          <a href="#" class="menu__link">OUR BLOG</a>
        </li>
      </ul>
      <a href="#" class="footer__logo">
        <img
          src="/src/assets/images/icons/logo.svg"
          alt="logo"
          width="125"
          height="27"
          loading="lazy"
        />
      </a>
      <ul class="footer__menu second">
        <li class="menu__item">
          <a href="#" class="menu__link">Terms&Conditions</a>
        </li>
        <li class="menu__item">
          <a href="#" class="menu__link">Privacy Policy</a>
        </li>
      </ul>
    </div>

    <div class="footer__block">
      <div class="footer__social">
        <a href="#" class="menu__social-link">
          <img
            src="/src/assets/images/icons/instagram-footer.svg"
            alt="instagram"
            width="20"
            height="20"
            loading="lazy"
          />
        </a>
        <a href="#" class="menu__social-link">
          <img
            src="/src/assets/images/icons/facebook-footer.svg"
            alt="facebook"
            width="20"
            height="20"
            loading="lazy"
          />
        </a>
      </div>

      <p class="menu__copyright">All rights reserved</p>
    </div>

  </div>
</footer>