<header class="header">
  <div class="header__wrapper container">
    <a href="/index.html" class="header__logo">
      <img
        src="/src/assets/images/icons/logo.svg"
        alt="logo"
        width="97"
        height="21"
      />
    </a>

    <nav class="menu" id="menu">
      <ul class="menu__list">
        <li class="menu__item">
          <a href="#" class="menu__link">ALL PRODUCTS</a>
        </li>

        <li class="menu__item">
          <a href="#" class="menu__link">ABOUT SEEDRA</a>
        </li>

        <li class="menu__item">
          <a href="/src/pages/blog/blog.html" class="menu__link">OUR BLOG</a>
        </li>

        <li class="menu__item">
          <a href="/src/pages/contact-us/contact-us.html" class="menu__link">CONTACTS</a>
        </li>
      </ul>

      <ul class="menu__social-list">
        <li class="menu__social-item">
          <a href="#">
            <img
              src="/src/assets/images/icons/instagram-header.svg"
              alt="instagram"
              width="24"
              height="24"
            />
          </a>
        </li>

        <li class="menu__social-item">
          <a href="#">
            <img
              src="/src/assets/images/icons/facebook-header.svg"
              alt="facebook"
              width="24"
              height="24"
            />
          </a>
        </li>
      </ul>

      <div class="menu__search-container">
        <input
          type="text"
          id="searchInput"
          class="menu__search-input"
          placeholder="Search"
        />
      </div>
    </nav>

    <div class="header__cart-wrapper">
      <ul class="menu__cart-list">
        <li class="menu__card-item">
          <a href="#">
            <img
              src="/src/assets/images/icons/heard.svg"
              alt="heard"
              width="24"
              height="24"
            />
          </a>
        </li>

        <li class="menu__card-item">
          <a href="/src/pages/cart/cart.html" id="cart-icon">
            <img
              src="/src/assets/images/icons/icon_cart.svg"
              alt="cart"
              width="24"
              height="24"
            />
          </a>
        </li>
      </ul>

      <button class="menu__burger" id="menu__burger">
        <img
          src="/src/assets/images/icons/Menu.svg"
          alt="menu-burger"
          width="24"
          height="24"
        />
      </button>
    </div>

  </div>
</header>

<div id="cart-popup" class="cart-popup hidden">
  <div class="cart-popup__content">
    <button id="close-popup-btn" class="close-popup--btn"><img
        src="/src/assets/images/icons/close.svg"
        width="13"
        height="13"
        loading="lazy"
        alt=""
      /></button>
    <div class="cart__item">
      <img
        src="/src/assets/images/cart-item.png"
        width="64"
        height="63"
        loading="lazy"
        alt="Product Image"
        class="cart__item--img"
      />
      <div class="cart__item__info">
        <p class="item__info--text">
          SEEDRA Corn - Bodacious Hybrid Seeds for Indoor and Outdoor Planting
        </p>
        <div class="item__info__price-mobile">
          <div class="item__info__price">
            <p class="info__price--quantity">1 pack</p>
            <p class="info__price--cash">$24.56</p>
          </div>
          <div class="counter-container counter-container__mobile">
            <button
              class="counter-button counter-button--minus"
              onclick="decrement('counter1-mobile')"
            >&#8722;</button>
            <div class="counter-value" id="counter1-mobile">2</div>
            <button
              class="counter-button counter-button--plus"
              onclick="increment('counter1-mobile')"
            >&#43;</button>
          </div>
        </div>
      </div>
      <div class="cart__item__price">
        <div class="counter-container">
          <button
            class="counter-button counter-button--minus"
            onclick="decrement('counter1')"
          >&#8722;</button>
          <div class="counter-value" id="counter1">2</div>
          <button
            class="counter-button counter-button--plus"
            onclick="increment('counter1')"
          >&#43;</button>
        </div>
      </div>
    </div>

    <div class="cart__item">
      <img
        src="/src/assets/images/cart-item.png"
        width="64"
        height="63"
        loading="lazy"
        alt="Product Image"
        class="cart__item--img"
      />
      <div class="cart__item__info">
        <p class="item__info--text">
          SEEDRA Corn - Bodacious Hybrid Seeds for Indoor and Outdoor Planting
        </p>
        <div class="item__info__price-mobile">
          <div class="item__info__price">
            <p class="info__price--quantity">1 pack</p>
            <p class="info__price--cash">$24.56</p>
          </div>
          <div class="counter-container counter-container__mobile">
            <button
              class="counter-button counter-button--minus"
              onclick="decrement('counter2-mobile')"
            >&#8722;</button>
            <div class="counter-value" id="counter2-mobile">2</div>
            <button
              class="counter-button counter-button--plus"
              onclick="increment('counter2-mobile')"
            >&#43;</button>
          </div>
        </div>
      </div>
      <div class="cart__item__price">
        <div class="counter-container">
          <button
            class="counter-button counter-button--minus"
            onclick="decrement('counter2')"
          >&#8722;</button>
          <div class="counter-value" id="counter2">2</div>
          <button
            class="counter-button counter-button--plus"
            onclick="increment('counter2')"
          >&#43;</button>
        </div>
      </div>
    </div>

    <div class="cart__buttons">
      <button id="clear">Clear</button>
      <button id="proceed-to-payment">Proceed to payment</button>
    </div>

  </div>

</div>