.main-blog {
  padding: 32px 0 35px 0;

  &__top-wrapper {
    @extend %display-jc-sb;
  }

  &__btn {
    border: 1px solid $light-gray-stroke;
  }

  &__data-wrapper {
    @extend %display-flex;
  }

  &__data {
    color: $text-secondary;
    margin: 0 0 0 8px;
  }

  &__list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto auto;
    gap: 30px;
    margin: 34px 0 0;
  }

  &__item {
    padding: 30px;
    min-height: 300px;
    border-radius: 12px;
    background: $light-blue;
    position: relative;
  }

  &__item-spec {
    background: $light-green;
    align-items: start;
    grid-column: span 2;
  }

  &__item-sec {
    grid-row: span 2;
  }

  &__first-img {
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: 1;
  }

  &__item-title {
    font-weight: 600;
    font-size: 24px;
    max-width: 372px;
    margin: 8px 0 0;
    line-height: 1.3;
  }

  &__subtitle {
    max-width: 380px;
    color: $text-secondary;
    margin: 4px 0 0;
    line-height: 1.8;
  }

  &__item-btn {
    margin: 14px 0 0 0;
    position: relative;
    z-index: 2;
  }

  @include respond-to($l-tablet) {
    &__list {
      grid-template-columns: repeat(2, 1fr);
      gap: 20px;
    }
  }

  @include respond-to($tablet) {
    &__list {
      display: flex;
      gap: 11px;
      overflow: scroll;
      scrollbar-width: none;
      padding: 0 15px;
      margin: 26px -15px 0;
    }

    &__item {
      min-height: 400px;
      width: 317px;
      flex: 0 0 auto;
      padding: 20px;
    }

    &__first-img {
      width: 222px;
    }

    &__sec-img {
      width: 183px;
    }

    &__item-btn {
      position: absolute;
      bottom: 147px;
      left: 20px;
      margin: 0;
    }

        &__item-title {
          font-weight: 700;
          font-size: 18px;
          max-width: 273px;
        }
    
        &__subtitle {
          max-width: 301px;
        }
  }

  @include respond-to($s-mobile) {
    padding: 24px 0;

  }
}
