<section class="main-product">
    <div class="container">
        <div class="main-product__top-wrapper">
            <h2 class="sections-title">Our products.</h2>
            <a href="#" class="secondary-btn main-product__btn">View all (12)</a>
        </div>

        <ul class="main-product__category-list" id="main-category-list">
        </ul>

        <ul class="main-product__list" id="main-product__list">
            
        </ul>
    </div>
</section>