<section class="main-response">

  <div class="main-response__wrapper">
    <h2 class="main-response__title sections-title">What out clients say</h2>

    <div class="swiper-container response-swiper-container">
      <div class="swiper-wrapper">
        <div class="swiper-slide">
          <div class="main-response__testimonial">
            <div class="main-response__info-wrapper">
              <div class="main-response__img-wrapper">
                <img
                  src="/src/assets/images/girl-comment-main.png"
                  alt="User Image"
                  class="main-response__img-user"
                />
              </div>
              <div>
                <p class="main-response__name">Carla Samantoes-Diego</p>
                <span class="main-response__data">12.09.2021</span>
              </div>
            </div>

            <ul class="main-response__rat-list">
              <li class="main-response__rat-item">
                <img
                  src="/src/assets/images/icons/star.svg"
                  alt="star"
                  width="24"
                  height="24"
                  loading="lazy"
                />
              </li>
              <li class="main-response__rat-item">
                <img
                  src="/src/assets/images/icons/star.svg"
                  alt="star"
                  width="24"
                  height="24"
                  loading="lazy"
                />
              </li>
              <li class="main-response__rat-item">
                <img
                  src="/src/assets/images/icons/star.svg"
                  alt="star"
                  width="24"
                  height="24"
                  loading="lazy"
                />
              </li>
              <li class="main-response__rat-item">
                <img
                  src="/src/assets/images/icons/star.svg"
                  alt="star"
                  width="24"
                  height="24"
                  loading="lazy"
                />
              </li>
              <li class="main-response__rat-item">
                <img
                  src="/src/assets/images/icons/star-half-alt.svg"
                  alt="star"
                  width="24"
                  height="24"
                  loading="lazy"
                />
              </li>
            </ul>
            <p class="main-response__text">SEEDRA Spinach Seeds - contains 600
              seeds in 2 Packs and professional instructions created by PhD
              Helga George. Be sure of our quality - the freshest batches of
              this season. Non-GMO, Heirloom - our seeds were tested and have
              the best germination ratings.</p>
          </div>
        </div>

        <div class="swiper-slide">
            <div class="main-response__testimonial">
                <div class="main-response__info-wrapper">
                    <div class="main-response__img-wrapper">
                        <img src="/src/assets/images/girl-comment-main.png" alt="User Image" class="main-response__img-user" />
                    </div>
                    <div>
                        <p class="main-response__name">Carla Samantoes-Diego</p>
                        <span class="main-response__data">12.09.2021</span>
                    </div>
                </div>
        
                <ul class="main-response__rat-list">
                    <li class="main-response__rat-item">
                        <img src="/src/assets/images/icons/star.svg" alt="star" width="24" height="24" loading="lazy" />
                    </li>
                    <li class="main-response__rat-item">
                        <img src="/src/assets/images/icons/star.svg" alt="star" width="24" height="24" loading="lazy" />
                    </li>
                    <li class="main-response__rat-item">
                        <img src="/src/assets/images/icons/star.svg" alt="star" width="24" height="24" loading="lazy" />
                    </li>
                    <li class="main-response__rat-item">
                        <img src="/src/assets/images/icons/star.svg" alt="star" width="24" height="24" loading="lazy" />
                    </li>
                    <li class="main-response__rat-item">
                        <img src="/src/assets/images/icons/star-half-alt.svg" alt="star" width="24" height="24"
                            loading="lazy" />
                    </li>
                </ul>
                <p class="main-response__text">SEEDRA Spinach Seeds - contains 600
                    seeds in 2 Packs and professional instructions created by PhD
                    Helga George. Be sure of our quality - the freshest batches of
                    this season. Non-GMO, Heirloom - our seeds were tested and have
                    the best germination ratings.</p>
            </div>
        </div>

        <div class="swiper-slide">
            <div class="main-response__testimonial">
                <div class="main-response__info-wrapper">
                    <div class="main-response__img-wrapper">
                        <img src="/src/assets/images/girl-comment-main.png" alt="User Image" class="main-response__img-user" />
                    </div>
                    <div>
                        <p class="main-response__name">Carla Samantoes-Diego</p>
                        <span class="main-response__data">12.09.2021</span>
                    </div>
                </div>
        
                <ul class="main-response__rat-list">
                    <li class="main-response__rat-item">
                        <img src="/src/assets/images/icons/star.svg" alt="star" width="24" height="24" loading="lazy" />
                    </li>
                    <li class="main-response__rat-item">
                        <img src="/src/assets/images/icons/star.svg" alt="star" width="24" height="24" loading="lazy" />
                    </li>
                    <li class="main-response__rat-item">
                        <img src="/src/assets/images/icons/star.svg" alt="star" width="24" height="24" loading="lazy" />
                    </li>
                    <li class="main-response__rat-item">
                        <img src="/src/assets/images/icons/star.svg" alt="star" width="24" height="24" loading="lazy" />
                    </li>
                    <li class="main-response__rat-item">
                        <img src="/src/assets/images/icons/star-half-alt.svg" alt="star" width="24" height="24"
                            loading="lazy" />
                    </li>
                </ul>
                <p class="main-response__text">SEEDRA Spinach Seeds - contains 600
                    seeds in 2 Packs and professional instructions created by PhD
                    Helga George. Be sure of our quality - the freshest batches of
                    this season. Non-GMO, Heirloom - our seeds were tested and have
                    the best germination ratings.</p>
            </div>
        </div>
      </div>
     
      <div class="swiper-pagination"></div>
    </div>



    <div class="main-response__container">
       
            <div class="main-response__slide">
                <div class="main-response__testimonial">
                    <div class="main-response__info-wrapper">
                        <div class="main-response__img-wrapper">
                            <img src="/src/assets/images/girl-comment-main.png" alt="User Image"
                                class="main-response__img-user" />
                        </div>
                        <div>
                            <p class="main-response__name">Carla Samantoes-Diego</p>
                            <span class="main-response__data">12.09.2021</span>
                        </div>
                    </div>
    
                    <ul class="main-response__rat-list">
                        <li class="main-response__rat-item">
                            <img src="/src/assets/images/icons/star.svg" alt="star" width="24" height="24" loading="lazy" />
                        </li>
                        <li class="main-response__rat-item">
                            <img src="/src/assets/images/icons/star.svg" alt="star" width="24" height="24" loading="lazy" />
                        </li>
                        <li class="main-response__rat-item">
                            <img src="/src/assets/images/icons/star.svg" alt="star" width="24" height="24" loading="lazy" />
                        </li>
                        <li class="main-response__rat-item">
                            <img src="/src/assets/images/icons/star.svg" alt="star" width="24" height="24" loading="lazy" />
                        </li>
                        <li class="main-response__rat-item">
                            <img src="/src/assets/images/icons/star-half-alt.svg" alt="star" width="24" height="24"
                                loading="lazy" />
                        </li>
                    </ul>
                    <p class="main-response__text">SEEDRA Spinach Seeds - contains 600
                        seeds in 2 Packs and professional instructions created by PhD
                        Helga George. Be sure of our quality - the freshest batches of
                        this season. Non-GMO, Heirloom - our seeds were tested and have
                        the best germination ratings.</p>
                </div>
            </div>
    
            <div class="main-response__slide">
                <div class="main-response__testimonial">
                    <div class="main-response__info-wrapper">
                        <div class="main-response__img-wrapper">
                            <img src="/src/assets/images/girl-comment-main.png" alt="User Image"
                                class="main-response__img-user" />
                        </div>
                        <div>
                            <p class="main-response__name">Carla Samantoes-Diego</p>
                            <span class="main-response__data">12.09.2021</span>
                        </div>
                    </div>
    
                    <ul class="main-response__rat-list">
                        <li class="main-response__rat-item">
                            <img src="/src/assets/images/icons/star.svg" alt="star" width="24" height="24" loading="lazy" />
                        </li>
                        <li class="main-response__rat-item">
                            <img src="/src/assets/images/icons/star.svg" alt="star" width="24" height="24" loading="lazy" />
                        </li>
                        <li class="main-response__rat-item">
                            <img src="/src/assets/images/icons/star.svg" alt="star" width="24" height="24" loading="lazy" />
                        </li>
                        <li class="main-response__rat-item">
                            <img src="/src/assets/images/icons/star.svg" alt="star" width="24" height="24" loading="lazy" />
                        </li>
                        <li class="main-response__rat-item">
                            <img src="/src/assets/images/icons/star-half-alt.svg" alt="star" width="24" height="24"
                                loading="lazy" />
                        </li>
                    </ul>
                    <p class="main-response__text">SEEDRA Spinach Seeds - contains 600
                        seeds in 2 Packs and professional instructions created by PhD
                        Helga George. Be sure of our quality - the freshest batches of
                        this season. Non-GMO, Heirloom - our seeds were tested and have
                        the best germination ratings.</p>
                </div>
            </div>
    
            <div class="main-response__slide">
                <div class="main-response__testimonial">
                    <div class="main-response__info-wrapper">
                        <div class="main-response__img-wrapper">
                            <img src="/src/assets/images/girl-comment-main.png" alt="User Image"
                                class="main-response__img-user" />
                        </div>
                        <div>
                            <p class="main-response__name">Carla Samantoes-Diego</p>
                            <span class="main-response__data">12.09.2021</span>
                        </div>
                    </div>
    
                    <ul class="main-response__rat-list">
                        <li class="main-response__rat-item">
                            <img src="/src/assets/images/icons/star.svg" alt="star" width="24" height="24" loading="lazy" />
                        </li>
                        <li class="main-response__rat-item">
                            <img src="/src/assets/images/icons/star.svg" alt="star" width="24" height="24" loading="lazy" />
                        </li>
                        <li class="main-response__rat-item">
                            <img src="/src/assets/images/icons/star.svg" alt="star" width="24" height="24" loading="lazy" />
                        </li>
                        <li class="main-response__rat-item">
                            <img src="/src/assets/images/icons/star.svg" alt="star" width="24" height="24" loading="lazy" />
                        </li>
                        <li class="main-response__rat-item">
                            <img src="/src/assets/images/icons/star-half-alt.svg" alt="star" width="24" height="24"
                                loading="lazy" />
                        </li>
                    </ul>
                    <p class="main-response__text">SEEDRA Spinach Seeds - contains 600
                        seeds in 2 Packs and professional instructions created by PhD
                        Helga George. Be sure of our quality - the freshest batches of
                        this season. Non-GMO, Heirloom - our seeds were tested and have
                        the best germination ratings.</p>
                </div>
            
        </div>
    
       
    </div>

  </div>

</section>