<section class="main-banner">
  <div class="container">
    <div class="main-banner__wrapper">
      <div class="main-banner__first-block">
        <h1 class="main-banner__title">SEEDRA Basil Seeds for Indoor and Outdoor
          Planting</h1>
        <p class="main-banner__subtitle">Be sure of our quality - the freshest
          batches of this season. Non-GMO, Heirloom - our seeds were tested and
          have the best germination ratings. Your easy growing experience is our
          guarantee</p>

        <div class="main-banner__price-wrapper">
          <img
            src="/src/assets/images/icons/fire.svg"
            alt="fire"
            width="46"
            height="46"
          />
          <p class="main-banner__price-sale">$12.56</p>
          <p class="main-banner__old-price">$15.56</p>
        </div>
        <div class="main-banner__btn-wrapper">
          <button class="main-btn main-banner__first-btn">Add to card</button>
          <a href="/Seedra/src/pages/card/card.html" class="secondary-btn main-banner__sec-btn">Discover</a>
        </div>

      </div>

      <div class="main-banner__sec-block">
        <img
          src="/src/assets/images/img-banner-main.png"
          alt="product"
          width="339"
          height="339"
          class="main-banner__img-bg"
        />
      </div>

      <img
        src="/src/assets/images/first-bg-f.png"
        alt="icon"
        width="42"
        height="36"
        class="icon-bg-top-f"
      />
      <img
        src="/src/assets/images/first-bg-s.png"
        alt="icon"
        width="154"
        height="149"
        class="icon-bg-top-s"
      />
      <img
        src="/src/assets/images/first-bg-t.png"
        alt="icon"
        width="108"
        height="117"
        class="icon-bg-top-t"
      />
      <img
        src="/src/assets/images/first-bg-fo.png"
        alt="icon"
        width="318"
        height="259"
        class="icon-bg-top-fo"
      />
      <img
        src="/src/assets/images/first-bg-fif.png"
        alt="icon"
        width="119"
        height="101"
        class="icon-bg-top-fif"
      />

      <img
        src="/src/assets/images/mob-first-bg-f.png"
        alt="icon"
        width="252"
        height="206"
        class="mob-icon-bg-top-f"
      />
      <img
        src="/src/assets/images/mob-first-s.png"
        alt="icon"
        width="59"
        height="65"
        class="mob-icon-bg-top-s"
      />
      <img
        src="/src/assets/images/mob-first-bg-t.png"
        alt="icon"
        width="66"
        height="56"
        class="mob-icon-bg-top-t"
      />
      <img
        src="/src/assets/images/mob-first-bg-fo.png"
        alt="icon"
        width="74"
        height="71"
        class="mob-icon-bg-top-fo"
      />
      <img
        src="/src/assets/images/mob-first-bg-fif.png"
        alt="icon"
        width="42"
        height="36"
        class="mob-icon-bg-top-fif"
      />

    </div>

    <div class="main-banner__second-wrapper">
      <h2 class="main-banner__second-title">We sell seeds</h2>
      <p class="main-banner__second-subtitle">that always sprout and gardening
        supplies which never break</p>
      <img
        src="/src/assets/images/sec-right-f.png"
        alt="icon"
        width="112"
        height="77"
        loading="lazy"
        class="icon-bg-right-f"
      />
      <img
        src="/src/assets/images/sec-right-s.png"
        alt="icon"
        width="24"
        height="19"
        loading="lazy"
        class="icon-bg-right-s"
      />
      <img
        src="/src/assets/images/sec-right-t.png"
        alt="icon"
        width="61"
        height="36"
        loading="lazy"
        class="icon-bg-right-t"
      />
      <img
        src="/src/assets/images/sec-right-fo.png"
        alt="icon"
        width="32"
        height="26"
        loading="lazy"
        class="icon-bg-right-fo"
      />

      <img
        src="/src/assets/images/sec-bg-left-f.png"
        alt="icon"
        width="57"
        height="29"
        loading="lazy"
        class="icon-bg-left-f"
      />
      <img
        src="/src/assets/images/sec-bg-left-s.png"
        alt="icon"
        width="53"
        height="44"
        loading="lazy"
        class="icon-bg-left-s"
      />
      <img
        src="/src/assets/images/sec-bg-left-t.png"
        alt="icon"
        width="30"
        height="23"
        loading="lazy"
        class="icon-bg-left-t"
      />
      <img
        src="/src/assets/images/sec-bg-left-fo.png"
        alt="icon"
        width="69"
        height="35"
        loading="lazy"
        class="icon-bg-left-fo"
      />
    </div>
  </div>
</section>