<section class="main-blog">
  <div class="container">
    <div class="main-blog__top-wrapper">
      <h2 class="sections-title">Our blog.</h2>
      <a href="/src/pages/blog/blog.html" class="secondary-btn main-blog__btn">Go to our blog</a>
    </div>

    <ul class="main-blog__list">
      <li class="main-blog__item main-blog__item-spec">
        <div class="main-blog__content-wrapper">
          <div class="main-blog__data-wrapper">
            <img
              src="/src/assets/images/icons/clock-three.svg"
              alt="clock"
              width="24"
              height="24"
              loading="lazy"
            />
            <p class="main-blog__data">12.09.2021</p>
          </div>

          <h3 class="main-blog__item-title">How to plant spinach correctly in
            winter</h3>
          <p class="main-blog__subtitle">In most areas, successive sowing can be
            done from early spring until early winter, but more often during
            hotter months...</p>
          
            <a href="#" class="main-blog__item-btn secondary-btn">Read</a>

        </div>
        <img
          src="/src/assets/images/spinach.png"
          alt="spinach"
          width="294"
          height="300"
          class="main-blog__first-img"
        />

      </li>

      <li class="main-blog__item main-blog__item-sec">
        <div class="main-blog__data-wrapper">
          <img
            src="/src/assets/images/icons/clock-three.svg"
            alt="clock"
            width="24"
            height="24"
            loading="lazy"
          />
          <p class="main-blog__data">12.09.2021</p>
        </div>

        <h3 class="main-blog__item-title">How to plant spinach correctly in
          winter</h3>
        <p class="main-blog__subtitle">In most areas, successive sowing can be
          done from early spring until early winter, but more often during
          hotter months...</p>

        <a href="#" class="main-blog__item-btn secondary-btn">Read</a>

        <img src="/src/assets/images/female-gardener-blog.png" alt="gardener" width="267" height="366" loading="lazy" class="main-blog__first-img main-blog__sec-img"/>

      </li>

      <li class="main-blog__item">
        <div class="main-blog__data-wrapper">
          <img
            src="/src/assets/images/icons/clock-three.svg"
            alt="clock"
            width="24"
            height="24"
            loading="lazy"
          />
          <p class="main-blog__data">12.09.2021</p>
        </div>

        <h3 class="main-blog__item-title">How to plant spinach correctly in
          winter</h3>
        <a href="#" class="main-blog__item-btn secondary-btn">Read</a>

        <img src="/src/assets/images/strawberry-blog.png" alt="strawberry" width="222" height="123" loading="lazy" class="main-blog__first-img" />

      </li>

      <li class="main-blog__item">
        <div class="main-blog__data-wrapper">
          <img
            src="/src/assets/images/icons/clock-three.svg"
            alt="clock"
            width="24"
            height="24"
            loading="lazy"
          />
          <p class="main-blog__data">12.09.2021</p>
        </div>

        <h3 class="main-blog__item-title">How to plant spinach correctly in
          winter</h3>
        <a href="#" class="main-blog__item-btn secondary-btn">Read</a>

        <img src="/src/assets/images/strawberry-blog.png" alt="strawberry" width="222" height="123" loading="lazy" class="main-blog__first-img" />

      </li>
    </ul>
  </div>
</section>