<section class="main-product">
    <div class="container">
        <div class="main-product__top-wrapper">
            <h2 class="sections-title">Our products.</h2>
            <a href="#" class="secondary-btn">View all (12)</a>
        </div>

        <ul class="main-product__category-list">
            <li class="main-product__category-item">
                
            </li>
        </ul>

        <ul class="main-product__list">
            <li class="main-product__item">

            </li>
        </ul>
    </div>
</section>