<section class="product-card card">
  <div class="container">
    <div class="card__wrapper">
      <ol class="breadcrumb">
        <li class="breadcrumb__item">
          <a href="/Seedra/" class="breadcrumb__item--link">
            Main
          </a>
        </li>
        <li class="breadcrumb__item">
          <a
            href="/Seedra/src/pages/catalog/catalog.html"
            class="breadcrumb__item--link"
          >
            Cataloug
          </a>
        </li>
        <li class="breadcrumb__item">
          <a href="#" class="breadcrumb__item--link">
            Vegetables
          </a>
        </li>
        <li class="breadcrumb__item">
          <a href="#" class="breadcrumb__item--link">
            Cucumber
          </a>
        </li>
        <li class="breadcrumb__item inactive">
          <a href="#" class="breadcrumb__item--link">
            SEEDRA cucumber
          </a>
        </li>
      </ol>
      <div class="card__content">
        <div class="card__content__left">

          <div class="content__left__slider slider__content">

            <div class="product__right__status-mob">
              <div class="product__right__status">
                <div class="right__status--available available">
                  <img
                    src="/src/assets/images/icons/tick.svg"
                    class="available-img"
                    alt="tick"
                    width="15"
                    height="10"
                    loading="lazy"
                  />
                  <span>AVAILABLE</span>
                </div>
                <div class="right__status--category category">
                  <img
                    src="/src/assets/images/icons/vegetable-icon.svg"
                    class="category-img"
                    alt="tick"
                    width="25"
                    height="25"
                    loading="lazy"
                  />
                  <span>VEGETABLES</span>
                </div>
              </div>
            </div>
            <h1 class="product__right--title title-mob">SEEDRA Corn - Bodacious
              Hybrid Seeds for Indoor and Outdoor Planting
            </h1>
            {{! <div class="slider__content__main__image">
              <img
                id="currentImage"
                src="/src/assets/images/card-item.png"
                alt="Main Image"
                data-original="/src/assets/images/cart-item.png"
                class="content__main-image"
                width="445"
                height="445"
              />
             
            </div> }}

            <div class="slider">
              <div class="slider__main">
                <input type="radio" name="slider" id="slide1" checked />
                <input type="radio" name="slider" id="slide2" />
                <input type="radio" name="slider" id="slide3" />
                <input type="radio" name="slider" id="slide4" />
                <input type="radio" name="slider" id="slide5" />
                <input type="radio" name="slider" id="slide6" />
                <input type="radio" name="slider" id="slide7" />

                <div class="slides">
                  <label for="slide1" class="slide">
                    <img
                      src="/src/assets/images/cart-item.png"
                      alt="Main Image"
                      width="445"
                height="445"
                    />
                  </label>
                  <label for="slide2" class="slide">
                    <img
                      src="/src/assets/images/back-side-product.png"
                      alt="Back Side Product"
                      width="445"
                height="445"
                    />
                  </label>
                  <label for="slide3" class="slide">
                    <img src="/src/assets/images/non-gmo.png" alt="Non GMO" width="445"
                height="445" />
                  </label>
                  <label for="slide4" class="slide">
                    <img
                      src="/src/assets/images/usa-farmd.png"
                      alt="USA Farmed" 
                      width="445"
                height="445"
                    />
                  </label>
                  <label for="slide5" class="slide">
                    <img
                      src="/src/assets/images/heirloom-seeds.png"
                      alt="Heirloom Seeds"
                      width="445"
                height="445"
                    />
                  </label>
                  <label for="slide6" class="slide">
                    <img src="/src/assets/images/food.png" alt="Food" width="445"
                height="445"/>
                  </label>
                  <label for="slide7" class="slide">
                    <img src="/src/assets/images/video.png" alt="Video" width="445"
                height="445"/>
                  </label>
                </div>
              </div>
              <div class="thumbnails">
                <div class="thumbnails__wrapper">
                  <label for="slide1">
                    <img
                      src="/src/assets/images/cart-item.png"
                      width="67"
                      height="67"
                      alt="Main Image Thumbnail"
                    />
                  </label>
                  <label for="slide2">
                    <img
                      src="/src/assets/images/back-side-product.png"
                      width="67"
                      height="67"
                      alt="Back Side Product Thumbnail"
                    />
                  </label>
                  <label for="slide3">
                    <img
                      src="/src/assets/images/non-gmo.png"
                      width="67"
                      height="67"
                      alt="Non GMO Thumbnail"
                    />
                  </label>
                  <label for="slide4">
                    <img
                      src="/src/assets/images/usa-farmd.png"
                      width="67"
                      height="67"
                      alt="USA Farmed Thumbnail"
                    />
                  </label>
                  <label for="slide5">
                    <img
                      src="/src/assets/images/heirloom-seeds.png"
                      width="67"
                      height="67"
                      alt="Heirloom Seeds Thumbnail"
                    />
                  </label>
                  <label for="slide6">
                    <img
                      src="/src/assets/images/food.png"
                      width="67"
                      height="67"
                      alt="Food Thumbnail"
                    />
                  </label>
                  <label for="slide7">
                    <img
                      src="/src/assets/images/video.png"
                      width="67"
                      height="67"
                      alt="Video Thumbnail"
                    />
                  </label>
                </div>

              </div>
            </div>

          </div>

        </div>

        <div class="card__content__right">
          <div class="content__right__product product__right">
            <h1 class="product__right--title">SEEDRA Corn - Bodacious Hybrid
              Seeds for Indoor and Outdoor Planting
            </h1>
            <div class="product__right__status">
              <div class="right__status--available available">
                <img
                  src="/src/assets/images/icons/tick.svg"
                  class="available-img"
                  alt="tick"
                  width="15"
                  height="10"
                />
                <span>AVAILABLE</span>
              </div>
              <div class="right__status--category category">
                <img
                  src="/src/assets/images/icons/vegetable-icon.svg"
                  class="category-img"
                  alt="tick"
                  width="25"
                  height="25"
                />
                <span>VEGETABLES</span>
              </div>
            </div>
            <div class="product__right__size">
              <div class="right__size__title">
                <p class="size__title--text">
                  Size
                </p>
                <h3 class="size__title--sub-title">
                  2 PACK
                </h3>
              </div>
              <div class="size__title__counter">
                <div class="counter-container">
                  <button
                    class="counter-button counter-button--minus"
                    onclick="decrement('counter1')"
                  >&#8722;</button>
                  <div class="counter-value" id="counter3">2</div>
                  <button
                    class="counter-button counter-button--plus"
                    onclick="increment('counter1')"
                  >&#43;</button>
                </div>
              </div>

            </div>
            <div class="product__right__size-selector size-selector">
              <label>
                <input type="radio" name="size" value="1 pack" />
                <span class="custom-checkbox"></span>
                1 pack
                <span class="size-selector--price">start from
                  <h3 class="size-selector--price-cash">$1,56</h3></span>
              </label>
              <label>
                <input type="radio" name="size" value="2 pack" checked />
                <span class="custom-checkbox"></span>
                2 pack
                <span class="size-selector--price">start from
                  <h3 class="size-selector--price-cash">$1,56</h3></span>
              </label>
              <label>
                <input type="radio" name="size" value="3 pack" />
                <span class="custom-checkbox"></span>
                3 pack
                <span class="size-selector--price">start from
                  <h3 class="size-selector--price-cash">$1,56</h3></span>
              </label>
              <label>
                <input type="radio" name="size" value="4 pack" />
                <span class="custom-checkbox"></span>
                4 pack
                <span class="size-selector--price">start from
                  <h3 class="size-selector--price-cash">$1,56</h3></span>
              </label>
              <label>
                <input type="radio" name="size" value="5 pack" />
                <span class="custom-checkbox"></span>
                5 pack
                <span class="size-selector--price">start from
                  <h3 class="size-selector--price-cash">$1,56</h3></span>
              </label>
            </div>
            <div class="product__right__price-info">
              <ul class="price-info__total">
                <li class="original-price">
                  <p> $15.56</p>
                </li>
                <li class="discounted-price">
                  <p>$12.56</p>
                </li>
              </ul>
              <div class="price-info__cart">
                <div class="product-item">
                  <div class="price-info__heard-wrapper">
                    <span class="price-info__heard-full"></span>
                    <span
                      class="price-info__heard-fill"
                      style="display: none;"
                    ></span>
                  </div>
                </div>
                <button class="info__cart--button main-btn">Add to card</button>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>

  </div>
</section>