<section class="questions">
  <div class="container">
    <div class="questions__content">
      <div class="questions__content__left">
        <h2 class="content__left--title">Frequently asked questions.</h2>
        <div class="questions__items">
          <div class="question__item hide">
            <div class="question__item__title">
              <h3 class="question__item--title">For seller: are these seeds
                organic? It does matter if they are organic, seeds can hold
                pesticides from the plant they grow from.</h3>
              {{! <img
                src="/src/assets/images/icons/plus.svg"
                alt="questions_plus"
                class="question__item--image"
                data-plus="/src/assets/images/icons/plus.svg"
                data-minus="/src/assets/images/icons/Minus.svg"
                width="24"
                height="24"
              /> }}
              <div class="toggle question__item--image">
                <div class="horizontal"></div>
                <div class="vertical"></div>
              </div>

            </div>
            <p class="question__item__text">I have heat mats and artificial
              light. I planted them in all purpose potting soil. Moist not wet.
              Placed them on a heat mat. If not available, somewhere where it's
              72 degrees.</p>
            {{!-- <img
              src="/src/assets/images/icons/Minus.svg"
              alt="questions_plus"
              class="question__item--image question__item--image--mobile"
              data-plus="/src/assets/images/icons/plus.svg"
              data-minus="/src/assets/images/icons/Minus.svg"
              width="24"
              height="24"
              loading="lazy"
            /> --}}
            <span class="question__item--image question__item--image--mobile" ></span>
          </div>

          <div class="question__item hide">
            <div class="question__item__title">
              <h3 class="question__item--title">Can they be grown on hydroponic
                systems?</h3>
              {{! <img
                src="/src/assets/images/icons/plus.svg"
                alt="questions_plus"
                class="question__item--image"
                data-plus="/src/assets/images/icons/plus.svg"
                data-minus="/src/assets/images/icons/Minus.svg"
                width="24"
                height="24"
              /> }}
              <div class="toggle question__item--image">
                <div class="horizontal"></div>
                <div class="vertical"></div>
              </div>
            </div>
            <div class="question__item__text">
              <p class="question__item__text--one">I have heat mats and
                artificial light.</p>
              <p class="question__item__text--two">I planted them in all purpose
                potting soil. Moist not wet. Placed them on a heat mat. If not
                available, somewhere where it's 72 degrees. Add natural light,
                but I used artificial light. Takes 10-15 days because of their
                hard shell on the seed.</p>
              {{!-- <img
                src="/src/assets/images/icons/Minus.svg"
                alt="questions_plus"
                class="question__item--image question__item--image--mobile"
                data-plus="/src/assets/images/icons/plus.svg"
                data-minus="/src/assets/images/icons/Minus.svg"
                width="24"
                height="24"
              /> --}}
              <span class="question__item--image question__item--image--mobile" ></span>
            </div>
          </div>

          <div class="question__item hide">
            <div class="question__item__title">
              <h3 class="question__item--title item--title-three">They did not
                germinate even when I followed directions. What should I do?</h3>
              {{! <img
                src="/src/assets/images/icons/plus.svg"
                alt="questions_plus"
                class="question__item--image"
                data-plus="/src/assets/images/icons/plus.svg"
                data-minus="/src/assets/images/icons/Minus.svg"
                width="24"
                height="24"
              /> }}
              <div class="toggle question__item--image">
                <div class="horizontal"></div>
                <div class="vertical"></div>
              </div>
            </div>
            <p class="question__item__text">Add natural light, but I used
              artificial light. Takes 10-15 days because of their hard shell on
              the seed.</p>
            {{!-- <img
              src="/src/assets/images/icons/Minus.svg"
              alt="questions_plus"
              class="question__item--image question__item--image--mobile"
              data-plus="/src/assets/images/icons/plus.svg"
              data-minus="/src/assets/images/icons/Minus.svg"
              width="24"
              height="24"
            /> --}}
              <span class="question__item--image question__item--image--mobile" ></span>
          </div>
        </div>

      </div>

      <div class="questions__content__right">
        <div class="question__block">
          <div class="question__block__images">
            <img
              src="/src/assets/images/icons/card-first.svg"
              class="block__images--one"
              alt="card-first"
              width="72"
              height="61"
              loading="lazy"
            />
            <img
              src="/src/assets/images/icons/card-second.svg"
              class="block__images--two"
              alt=""
              width="131"
              height="127"
            />
            <img
              src="/src/assets/images/icons/card-thrid.svg"
              class="block__images--three"
              alt=""
              width="65"
              height="70"
            />
          </div>

          <h2 class="question__block--title">Didn’t find answer?</h2>
          <p class="question__block--text">Ask your own!</p>
          <textarea
            class="question__block--textarea"
            placeholder="Type here"
          ></textarea>
          <br />
          <button class="question__block--button">Send</button>
        </div>
      </div>

    </div>
  </div>
</section>