<section class="related-product">
  <div class="container">
    <h2 class="related-product__title">
      Related products.
    </h2>
    <div class="related-product-swiper">
      <ul class="related-product__list swiper-wrapper" id="related-product__list">

      </ul>
      {{!-- <div class="swiper-pagination"></div> --}}
      <div class="swiper-button-next"></div>
      <div class="swiper-button-prev"></div>
    </div> 
  </div>
</section>