<section class="reviews">
  <div class="container reviews__container">
    <div class="reviews__content">
      <div class="reviews__content__head">
        <h2 class="content__head--title">
          Customer reviews.
        </h2>
        <button class="content__head--button">
          Make review
        </button>
      </div>
      <div class="reviews__wrapper">
        <div class="reviews__wrapper__block-one reviews__block-one slider__stats ">
          <div class="block-one__rating slide__stats">
            <div class="rating__stats">
              <h1 class="rating__stats--score">
                4,1
              </h1>
              <div class="rating__stats__count">
                <p class="stats__count--reviews">
                  124 reviews
                </p>
                <div class="stats__count__stars">
                  <img
                    src="/src/assets/images/icons/star.svg"
                    class="count__stars--star"
                    alt="star"
                    width="24"
                    height="24"
                    loading="lazy"
                  />
                  <img
                    src="/src/assets/images/icons/star.svg"
                    class="count__stars--star"
                    alt="star"
                    width="24"
                    height="24"
                    loading="lazy"
                  />
                  <img
                    src="/src/assets/images/icons/star.svg"
                    class="count__stars--star"
                    alt="star"
                    width="24"
                    height="24"
                    loading="lazy"
                  />
                  <img
                    src="/src/assets/images/icons/star.svg"
                    class="count__stars--star"
                    alt="star"
                    width="24"
                    height="24"
                    loading="lazy"
                  />
                  <img
                    src="/src/assets/images/icons/star-half-alt.svg"
                    class="count__stars--star"
                    alt="star"
                    width="24"
                    height="24"
                    loading="lazy"
                  />
                </div>
              </div>
            </div>
            <div class="rating-block">
              <div class="rating-row">
                <span class="rating-stars">5 <i class="rating-star"></i></span>
                <div class="rating-bar">
                  <div class="rating-fill" style="width: 91%;"></div>
                </div>
                <span class="rating-count">81</span>
              </div>
              <div class="rating-row">
                <span class="rating-stars">4 <i class="rating-star"></i></span>
                <div class="rating-bar">
                  <div class="rating-fill" style="width: 75%;"></div>
                </div>
                <span class="rating-count">45</span>
              </div>
              <div class="rating-row">
                <span class="rating-stars">3 <i class="rating-star"></i></span>
                <div class="rating-bar">
                  <div class="rating-fill" style="width: 53%;"></div>
                </div>
                <span class="rating-count">32</span>
              </div>
              <div class="rating-row">
                <span class="rating-stars">2 <i class="rating-star"></i></span>
                <div class="rating-bar">
                  <div class="rating-fill" style="width: 5%;"></div>
                </div>
                <span class="rating-count">1</span>
              </div>
              <div class="rating-row">
                <span class="rating-stars">1 <i class="rating-star"></i></span>
                <div class="rating-bar">
                  <div class="rating-fill" style="width: 5%;"></div>
                </div>
                <span class="rating-count">1</span>
              </div>
            </div>
          </div>

          <div class="block-one__photo-video slide__stats">
            <div class="photo-video__head">
              <div class="photo-video__head__count">
                <p class="head__count--reviews">
                  124 reviews
                </p>
                <h3 class="head__count--photo-video">
                  Photo&Video review
                </h3>
              </div>
              <button class="photo-video__head--button">
                View
              </button>
            </div>

            <div class="photo-video__content">
              <picture class="photo-video__content--image">
                <source
                  srcset="/src/assets/images/photo-review.webp"
                  type="image/webp"
                />
                <img
                  src="/src/assets/images/photo-review.png"
                  alt="photo-review"
                  width="145"
                  height="146"
                  loading="lazy"
                />
              </picture>

              <picture class="photo-video__content--image">
                <source
                  srcset="/src/assets/images/photo-review.webp"
                  type="image/webp"
                />
                <img
                  src="/src/assets/images/photo-review.png"
                  alt="photo-review"
                  width="145"
                  height="146"
                  loading="lazy"
                />
              </picture>

              <picture class="photo-video__content--image">
                <source
                  srcset="/src/assets/images/photo-review.webp"
                  type="image/webp"
                />
                <img
                  src="/src/assets/images/photo-review.png"
                  alt="photo-review"
                  width="145"
                  height="146"
                  loading="lazy"
                />
              </picture>

              <picture class="photo-video__content--image">
                <source
                  srcset="/src/assets/images/photo-review.webp"
                  type="image/webp"
                />
                <img
                  src="/src/assets/images/photo-review.png"
                  alt="photo-review"
                  width="145"
                  height="146"
                  loading="lazy"
                />
              </picture>
            </div>

          </div>

        </div>
        <div class="reviews__wrapper__block-two reviews__block-two slider">

          <div class="reviews__block-two__comment comment slide">
            <div class="comment__head">
              <div class="comment__head__person">
                <picture class="head__person--girl">
                  <source
                    srcset="/src/assets/images/girl-comment-main.webp"
                    type="image/webp"
                  />
                  <img
                    src="/src/assets/images/girl-comment-main.png"
                    alt="comment-girl"
                    width="64"
                    height="64"
                    loading="lazy"
                  />
                </picture>
                <div class="head__person__info">
                  <h2 class="person__info--name">
                    Carla Samantoes-Diego
                  </h2>
                  <p class="person__info--location">
                    Reviewed in the United States on June 18, 2021
                  </p>
                </div>
              </div>
              <div class="comment__head__stars">
                <img
                  src="/src/assets/images/icons/star.svg"
                  class="comment__head__stars--image"
                  alt="star"
                  width="24"
                  height="24"
                  loading="lazy"
                />
                <img
                  src="/src/assets/images/icons/star.svg"
                  class="comment__head__stars--image"
                  alt="star"
                  width="24"
                  height="24"
                  loading="lazy"
                />
                <img
                  src="/src/assets/images/icons/star.svg"
                  class="comment__head__stars--image"
                  alt="star"
                  width="24"
                  height="24"
                  loading="lazy"
                />
                <img
                  src="/src/assets/images/icons/star.svg"
                  class="comment__head__stars--image"
                  alt="star"
                  width="24"
                  height="24"
                  loading="lazy"
                />
                <img
                  src="/src/assets/images/icons/star-half-alt.svg"
                  class="comment__head__stars--image"
                  alt="star"
                  width="24"
                  height="24"
                  loading="lazy"
                />
              </div>
            </div>
            <div class="comment__content">
              <p class="comment__content--text">
                SEEDRA Spinach Seeds - contains 600 seeds in 2 Packs and professional instructions created by PhD Helga George
              </p>
              <p class="comment__content--text">
                Be sure of our quality - the freshest batches of this season. Non-GMO, Heirloom - our seeds were tested and have the best germination ratings. 
              </p>
              
            </div>
            <div class="comment__verified">
              <div class="comment__verified__title">
                <p class="verified__title--text">
                  Size
                </p>
                <h3 class="verified__title--sub-title">
                  2 PACK
                </h3>
              </div>

              <div class="comment__verified--available ">
                  <img
                    src="/src/assets/images/icons/tick.svg"
                    class="verified--available--img"
                    alt="tick"
                    width="15"
                    height="10"
                    loading="lazy"
                  />
                  <span>VERIFIED</span>
                </div>
            </div>
          </div>
          
          <div class="reviews__block-two__comment comment slide">
            <div class="comment__head">
              <div class="comment__head__person">
                <picture class="head__person--girl">
                  <source
                    srcset="/src/assets/images/girl-comment-main.webp"
                    type="image/webp"
                  />
                  <img
                    src="/src/assets/images/girl-comment-main.png"
                    alt="comment-girl"
                    width="64"
                    height="64"
                    loading="lazy"
                  />
                </picture>
                <div class="head__person__info">
                  <h2 class="person__info--name">
                    Carla Samantoes-Diego
                  </h2>
                  <p class="person__info--location">
                    Reviewed in the United States on June 18, 2021
                  </p>
                </div>
              </div>
              <div class="comment__head__stars">
                <img
                  src="/src/assets/images/icons/star.svg"
                  class="comment__head__stars--image"
                  alt="star"
                  width="24"
                  height="24"
                  loading="lazy"
                />
                <img
                  src="/src/assets/images/icons/star.svg"
                  class="comment__head__stars--image"
                  alt="star"
                  width="24"
                  height="24"
                  loading="lazy"
                />
                <img
                  src="/src/assets/images/icons/star.svg"
                  class="comment__head__stars--image"
                  alt="star"
                  width="24"
                  height="24"
                  loading="lazy"
                />
                <img
                  src="/src/assets/images/icons/star.svg"
                  class="comment__head__stars--image"
                  alt="star"
                  width="24"
                  height="24"
                  loading="lazy"
                />
                <img
                  src="/src/assets/images/icons/star-half-alt.svg"
                  class="comment__head__stars--image"
                  alt="star"
                  width="24"
                  height="24"
                  loading="lazy"
                />
              </div>
            </div>
            <div class="comment__content">
              <p class="comment__content--text">
                Eine sehr aromatische Sorte, wollte die Himbeere gerade noch einmal bestellen, derzeit nicht verfügbar. So süße Früchte und das jetzt im Oktober, unglaublich
              </p>
              
              <div class="comment__content__image">
                <picture class="content__image--img">
                  <source
                    srcset="/src/assets/images/photo-review.webp"
                    type="image/webp"
                  />
                  <img
                    src="/src/assets/images/photo-review.png"
                    alt="photo-review"
                    width="106"
                    height="106"
                    loading="lazy"
                  />
                </picture>
                <picture class="content__image--img">
                  <source
                    srcset="/src/assets/images/photo-review.webp"
                    type="image/webp"
                  />
                  <img
                    src="/src/assets/images/photo-review.png"
                    alt="photo-review"
                    width="106"
                    height="106"
                    loading="lazy"
                  />
                </picture>
              </div>
            </div>
            <div class="comment__verified">
              <div class="comment__verified__title">
                <p class="verified__title--text">
                  Size
                </p>
                <h3 class="verified__title--sub-title">
                  2 PACK
                </h3>
              </div>

              <div class="comment__verified--available ">
                  <img
                    src="/src/assets/images/icons/tick.svg"
                    class="verified--available--img"
                    alt="tick"
                    width="15"
                    height="10"
                    loading="lazy"
                  />
                  <span>VERIFIED</span>
                </div>
            </div>
          </div>

        </div>
      </div>
    </div>

  </div>
</section>