<section class="blog-post-share">
  <div class="container">
    <div class="blog-post-share__wrapper">
      <div class="blog-post-share__text-wrapper">
        <p class="blog-post-share__question">Title was helpful?</p>
        <h3 class="blog-post-share__title">Share with friends</h3>
      </div>

      <ul class="blog-post-share__social-list">
        <li class="blog-post-share__item">
          <a href="#">
            <img
              src="/src/assets/images/icons/share-facebook.svg"
              alt="facebook"
              width="32"
              height="32"
              loading="lazy"
            />
          </a>
        </li>

        <li class="blog-post-share__item">
          <a href="#">
            <img
              src="/src/assets/images/icons/share-twitter.svg"
              alt="twitter"
              width="32"
              height="32"
              loading="lazy"
            />
          </a>
        </li>

        <li class="blog-post-share__item">
          <a href="#">
            <img
              src="/src/assets/images/icons/share-pinterest.svg"
              alt="pinterest"
              width="30"
              height="30"
              loading="lazy"
            />
          </a>
        </li>
      </ul>
    </div>
  </div>
</section>