<section class="blog-post-banner">
<div class="container">
    <div class="blog-banner__wrapper about-banner__wrapper">
        <h1 class="main-banner__title blog-post-banner__title">How to plant spinach correctly in winter</h1>
        <img src="/src/assets/images/spinach.png" alt="bg" width="240" height="245" class="blog-post-banner__bg">
        <img src="/src/assets/images/blog-third.png" alt="bg" width="42" height="36" class="blog-banner__bg-third">
        
    </div>
</div>
</section>